Repository 9elements/converged-security-suite, changes with the owners that CODEOWNERS names for each.
All owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro, @marcoguerri, @rihter007, @trynity

Add EV_EFI_PLATFORM_FIRMWARE_BLOB2 event type
  pkg/tpmeventlog/event_type.go
Owners: @xaionaro, @rihter007, @trynity, @marcoguerri

Change MeasurementIDDXE to EV_EFI_PLATFORM_FIRMWARE_BLOB2
  pkg/pcr/measurement.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro, @trynity, @marcoguerri

Use Fiano's bytes package
  cmd/pcr0tool/commands/diff/command.go
  cmd/pcr0tool/commands/diff/format/format.go
  cmd/pcr0tool/commands/printnodes/command.go
  go.mod
  go.sum
  pkg/amd/manifest/bios_directory_table.go
  pkg/amd/manifest/embedded_firmware_structure.go
  pkg/amd/manifest/firmware.go
  pkg/amd/manifest/psp_directory_table.go
  pkg/bytes/README.md
  pkg/bytes/is_zero_filled.go
  pkg/bytes/is_zero_filled_amd64.go
  pkg/bytes/is_zero_filled_other.go
  pkg/bytes/is_zero_filled_test.go
  pkg/bytes/range.go
  pkg/bytes/range_test.go
  pkg/diff/analyze.go
  pkg/diff/analyze_test.go
  pkg/diff/diff.go
  pkg/diff/diff_test.go
  pkg/intel/metadata/manifest/bootpolicy/manifest.go
  pkg/pcd/parse_firmware.go
  pkg/pcd/parse_firmware_ocp.go
  pkg/pcr/find_missing_fake_measurements.go
  pkg/pcr/get_measurements_pcr0_amd.go
  pkg/pcr/get_measurements_pcr0_cbnt0t.go
  pkg/pcr/get_measurements_pcr0_legacytxtdisabled.go
  pkg/pcr/measurement.go
  pkg/pcr/measurement_test.go
  pkg/registers/txt.go
  pkg/uefi/ffs/node.go
  pkg/uefi/ffs/node_get_by.go
  pkg/uefi/ffs/node_get_by_range.go
  pkg/uefi/uefi.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Use Fiano's amd package
  .circleci/config.yml
  pkg/amd/manifest/bios_directory_table.go
  pkg/amd/manifest/bios_directory_table_test.go
  pkg/amd/manifest/embedded_firmware_structure.go
  pkg/amd/manifest/embedded_firmware_structure_test.go
  pkg/amd/manifest/firmware.go
  pkg/amd/manifest/internal.go
  pkg/amd/manifest/psp_directory_table.go
  pkg/amd/manifest/psp_directory_table_test.go
  pkg/amd/manifest/psp_header.go
  pkg/amd/manifest/psp_header_test.go
  pkg/pcr/flow_detection.go
  pkg/pcr/get_measurements_pcr0.go
  pkg/pcr/get_measurements_pcr0_amd.go
  pkg/pcr/measurement_id.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @rihter007, @xaionaro, @trynity, @marcoguerri

Use Fiano's amd package (#311)
  .circleci/config.yml
  pkg/amd/manifest/bios_directory_table.go
  pkg/amd/manifest/bios_directory_table_test.go
  pkg/amd/manifest/embedded_firmware_structure.go
  pkg/amd/manifest/embedded_firmware_structure_test.go
  pkg/amd/manifest/firmware.go
  pkg/amd/manifest/internal.go
  pkg/amd/manifest/psp_directory_table.go
  pkg/amd/manifest/psp_directory_table_test.go
  pkg/amd/manifest/psp_header.go
  pkg/amd/manifest/psp_header_test.go
  pkg/pcr/flow_detection.go
  pkg/pcr/get_measurements_pcr0.go
  pkg/pcr/get_measurements_pcr0_amd.go
  pkg/pcr/measurement_id.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @rihter007, @xaionaro, @trynity, @marcoguerri

Update github.com/9elements/go-linux-lowlevel-hw
  go.mod
  go.sum
  pkg/hwapi/mock_pc.go
  pkg/test/acpi.go
  pkg/test/cpu.go
  pkg/test/fit.go
  pkg/test/memory.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat(pcr): Add Flow.CPUVendorID()
  pkg/pcr/flow.go
  pkg/pcr/flow_test.go
Owners: @rihter007, @xaionaro, @trynity, @marcoguerri

Update linuxboot/fiano dependency
  go.mod
  go.sum
  pkg/pcr/get_measurements_pcr0_amd.go
  pkg/provisioning/cbnt/tools.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @rihter007, @xaionaro, @trynity, @marcoguerri

Support measuring of PMU firmware instructions/data, microcode patch and video binary interpreter
  pkg/pcr/flow.go
  pkg/pcr/get_measurements_pcr0_amd.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro, @trynity, @marcoguerri

pkg/provisioning/cbnt/config.go: Rework IBB segment hashing
  pkg/provisioning/cbnt/config.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

cbnt-prov: Allow *-show to work on full images
  cmd/cbnt-prov/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

manifest/key.go: Don't check KM key hash algorithm
  pkg/intel/metadata/manifest/key.go
Owners: @xaionaro, @ChriMarMe, @trynity, @marcoguerri

Upgrade fiano version
  go.mod
  go.sum
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat(cbnt-prov): Add verb "acm-gen"
  cmd/cbnt-prov/cmd.go
  pkg/provisioning/cbnt/config.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

fix(cbnt-prov): Set KeySize in a generated ACM
  cmd/cbnt-prov/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

fix(cbnt-prov): Set KeySize in a generated ACM
  cmd/cbnt-prov/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

pkg/provisioning/cbnt/marshal.go: Also support PKCS1 Priv keys
  pkg/provisioning/cbnt/marshal.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

HACK,HACK: Use newer crypto for CBnT on SPR-SP
  cmd/cbnt-prov/cmd.go
  pkg/intel/metadata/manifest/key/manifest.go
  pkg/intel/metadata/manifest/signature.go
  pkg/intel/metadata/manifest/signature_types.go
  pkg/provisioning/cbnt/keygen.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro, @trynity, @marcoguerri

[pcr] Prepare code for PCR1
  pkg/pcr/get_measurements.go
  pkg/pcr/get_measurements_pcr0.go
  pkg/pcr/measurement.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro, @trynity, @marcoguerri

[pcr] Join files pkg/pcr/get_measurements{,_pcr0}.go
  pkg/pcr/get_measurements.go
  pkg/pcr/get_measurements_pcr0.go
Owners: @rihter007, @xaionaro, @trynity, @marcoguerri

[pcr] Add a sample of CBnT PCR1 EventLog dump (from a real machine)
  pkg/pcr/doc/log/cbnt_pcr1_sample.txt
Owners: @rihter007, @xaionaro, @trynity, @marcoguerri

[pcr] Allow to replay PCR1 EventLogs
  pkg/pcr/errors.go
  pkg/pcr/replay.go
  pkg/pcr/replay_test.go
Owners: @rihter007, @xaionaro, @trynity, @marcoguerri

correct error message in GenRSAKey function. Now shows the correct required key bitlength
  pkg/provisioning/cbnt/keygen.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Bump up fiano version to make it all work again
  go.mod
  go.sum
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add PKCS1 parsing for private keys
  pkg/provisioning/cbnt/marshal.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add required SignAlgo argument to SignKM and SignBPM command.
  cmd/cbnt-prov/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add km-verify and bpm-verify command to verify signature of KM and BPM.
  cmd/cbnt-prov/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add km-verify and bpm-verify command to verify signature of KM and BPM.
  cmd/cbnt-prov/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Bump up fiano version to make it all work again
  go.mod
  go.sum
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add required SignAlgo argument to SignKM and SignBPM command.
  cmd/cbnt-prov/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

correct error message in GenRSAKey function. Now shows the correct required key bitlength
  pkg/provisioning/cbnt/keygen.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add PKCS1 parsing for private keys
  pkg/provisioning/cbnt/marshal.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Print ACM revision
  pkg/tools/acm.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

add DataChunkIDBIOSStartup4 and DataChunkIDBIOSStartup5
  pkg/pcr/get_measurements_pcr0_legacytxtenabled.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro, @trynity, @marcoguerri

add DataChunkIDBIOSStartup4 and DataChunkIDBIOSStartup5
  pkg/pcr/get_measurements_pcr0_legacytxtenabled.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro, @trynity, @marcoguerri

[pcr0tool][dumpregisters] Add support for dumped TXT Public Space
  cmd/pcr0tool/commands/dumpregisters/command.go
  cmd/pcr0tool/commands/dumpregisters/helpers/flag_registers.go
  cmd/pcr0tool/commands/dumpregisters/helpers/get_local_registers.go
  cmd/pcr0tool/commands/dumpregisters/helpers/get_registers.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity

[pcr0tool] Fix error reporting on PCR0 measurements collecting
  pkg/pcr/errors.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro, @trynity, @marcoguerri

[pcr0tool] Add verbs display_fwinfo and display_eventlog
  cmd/pcr0tool/commands/displayeventlog/command.go
  cmd/pcr0tool/commands/displayeventlog/flag_format.go
  cmd/pcr0tool/commands/displayeventlog/format/event_log.go
  cmd/pcr0tool/commands/displayfwinfo/command.go
  cmd/pcr0tool/main.go
  pkg/dmidecode/dmi_table.go
  pkg/dmidecode/errors.go
  pkg/dmidecode/get_bios_info.go
  pkg/dmidecode/get_system_info.go
  pkg/tpm/parse_sysfs_pcrs.go
  pkg/tpm/parse_sysfs_pcrs_test.go
  pkg/tpm/read_pcr_from_tpm.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add a fake Intel CBnT image
  cmd/pcr0tool/commands/dumpregisters/helpers/get_registers.go
  go.mod
  go.sum
  pkg/pcd/errors.go
  pkg/pcd/parse_firmware_dummy.go
  testdata/firmware/fake_intel_firmware.fd
  testdata/firmware/fake_intel_firmware.go
  testdata/firmware/go.mod
  testdata/firmware/go.sum
  testdata/firmware/scripts/generate_fake_intel_firmware.sh
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[pcr0tool] Add a comparator with TPM EventLog
  cmd/pcr0tool/commands/sum/command.go
  go.mod
  go.sum
  pkg/bruteforcer/README.md
  pkg/bruteforcer/brute_forcer.go
  pkg/bruteforcer/brute_forcer_test.go
  pkg/bruteforcer/indexes.go
  pkg/bruteforcer/indexes_test.go
  pkg/pcrbruteforcer/register_hash_cache.go
  pkg/pcrbruteforcer/reproduce_event_log.go
  pkg/pcrbruteforcer/reproduce_event_log_test.go
  pkg/pcrbruteforcer/reproduce_expected_pcr0.go
  pkg/pcrbruteforcer/reproduce_expected_pcr0_test.go
  pkg/tpmeventlog/event_type.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

CODEOWNERS:

* @ChriMarMe @zaolin @walterchris @flanfly @PatrickRudolph @ArthurHeymans
cmd/pcr0tool/ @xaionaro @marcoguerri @rihter007 @trynity
pkg/intel/metadata/ @xaionaro @ChriMarMe @trynity @marcoguerri
pkg/registers @rihter007 @xaionaro @trynity @marcoguerri
pkg/bytes @xaionaro @rihter007 @trynity @marcoguerri
pkg/pcr @rihter007 @xaionaro @trynity @marcoguerri
pkg/pcd @xaionaro @trynity @marcoguerri
pkg/amd @rihter007 @xaionaro @trynity @marcoguerri
pkg/diff @xaionaro @rihter007 @trynity @marcoguerri
pkg/errors @xaionaro @rihter007 @trynity @marcoguerri
pkg/check @xaionaro @trynity @marcoguerri
pkg/tpmdetection @rihter007 @xaionaro @trynity @marcoguerri
pkg/tpmeventlog @xaionaro @rihter007 @trynity @marcoguerri
pkg/uefi @xaionaro @rihter007 @trynity @marcoguerri
