Repository 9elements/converged-security-suite, changes with the owners that CODEOWNERS names for each.
All owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro, @marcoguerri, @rihter007

Add string functions to amd firmware structures
  pkg/amd/manifest/bios_directory_table.go
  pkg/amd/manifest/psp_directory_table.go
Owners: @rihter007, @xaionaro

Add some info about cookies
  pkg/amd/manifest/bios_directory_table.go
  pkg/amd/manifest/psp_directory_table.go
Owners: @rihter007, @xaionaro

Add support of BIOSDirectoryTableFamily17hModels60h3FhPointer and size to Embedded Firmware Structure Return range inside firmware image of parsed Embedded Firmware Structure
  pkg/amd/manifest/bios_directory_table.go
  pkg/amd/manifest/bios_directory_table_test.go
  pkg/amd/manifest/embedded_firmware_structure.go
  pkg/amd/manifest/embedded_firmware_structure_test.go
  pkg/amd/manifest/psp_directory_table.go
  pkg/amd/manifest/psp_directory_table_test.go
Owners: @rihter007, @xaionaro

BIOS & PSP Directory table parsing functions return the length of consumed bytes chunk
  pkg/amd/manifest/bios_directory_table.go
  pkg/amd/manifest/bios_directory_table_test.go
  pkg/amd/manifest/internal.go
  pkg/amd/manifest/psp_directory_table.go
  pkg/amd/manifest/psp_directory_table_test.go
Owners: @rihter007, @xaionaro

AMD's MP0_C2P_MSG_38 register raw support
  pkg/registers/amd_registers_test.go
  pkg/registers/marshalling.go
  pkg/registers/marshalling_test.go
  pkg/registers/mp0_c2p_msg_37.go
  pkg/registers/mp0_c2p_msg_38.go
Owners: @rihter007, @xaionaro

Add PSPFirmware to DataProvider for PCR0 measurements
  pkg/amd/manifest/firmware.go
  pkg/pcr/get_measurements_pcr0.go
  pkg/pcr/get_measurements_pcr0_amd.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro

BIOS directory table level 1&2 measurements
  pkg/pcr/get_measurements_pcr0_amd.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro

Update README.md
  README.md
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add PSPFirmware to DataProvider for PCR0 measurements
  pkg/amd/manifest/firmware.go
  pkg/pcr/get_measurements_pcr0.go
  pkg/pcr/get_measurements_pcr0_amd.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro

BIOS & PSP Directory table parsing functions return the length of consumed bytes chunk
  pkg/amd/manifest/bios_directory_table.go
  pkg/amd/manifest/bios_directory_table_test.go
  pkg/amd/manifest/internal.go
  pkg/amd/manifest/psp_directory_table.go
  pkg/amd/manifest/psp_directory_table_test.go
Owners: @rihter007, @xaionaro

BIOS directory table level 1&2 measurements
  pkg/pcr/get_measurements_pcr0_amd.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro

Add support of BIOSDirectoryTableFamily17hModels60h3FhPointer and size to Embedded Firmware Structure Return range inside firmware image of parsed Embedded Firmware Structure
  pkg/amd/manifest/bios_directory_table.go
  pkg/amd/manifest/bios_directory_table_test.go
  pkg/amd/manifest/embedded_firmware_structure.go
  pkg/amd/manifest/embedded_firmware_structure_test.go
  pkg/amd/manifest/psp_directory_table.go
  pkg/amd/manifest/psp_directory_table_test.go
Owners: @rihter007, @xaionaro

go mod tidy
  go.mod
  go.sum
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Change optional flags of stichtingCmd to required args
  cmd/cbnt-prov/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Replace type of IBBHash with string, This allows passing arugments in human readable form Correctes rebase error with other IBB flags
  cmd/cbnt-prov/cmd.go
  pkg/intel/metadata/manifest/crypto_routines.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro

Add complain if km-gen does not have bpm public signing key supplied
  cmd/cbnt-prov/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add others platform hwapi stub
  pkg/hwapi/cpuid_other.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Make api an argument to run function of tests
  cmd/txt-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add others platform hwapi stub (#270)
  pkg/hwapi/cpuid_other.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Remove acpi functions as members of interface structure. They were never part of the interface
  pkg/hwapi/acpi.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

fix hwapi package for non x86 system
  pkg/hwapi/iommu.go
  pkg/hwapi/phys_be.go
  pkg/hwapi/phys_le.go
  pkg/hwapi/uint.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Remove acpi functions as members of interface structure. They were never part of the interface
  pkg/hwapi/acpi.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

fix hwapi package for non x86 system
  pkg/hwapi/iommu.go
  pkg/hwapi/phys_be.go
  pkg/hwapi/phys_le.go
  pkg/hwapi/uint.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add arm, arm64, ppc64le build tests
  .circleci/config.yml
  pkg/hwapi/phys_le.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add missing close to MSR register open fd
  pkg/hwapi/msr.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add template generation to BootGuard
  cmd/bg-prov/cmd.go
  pkg/provisioning/bootguard/common/key.go
  pkg/provisioning/bootguard/options.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add key generation for RSA2048 key pairs
  cmd/bg-prov/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Initial BootGuard Provisioning support
  .gitignore
  cmd/bg-prov/README.md
  cmd/bg-prov/cmd.go
  cmd/bg-prov/main.go
  pkg/intel/metadata/fit/entry_boot_policy_manifest.go
  pkg/intel/metadata/fit/entry_key_manifest_record.go
  pkg/provisioning/bootguard/bootpolicy/bpmh.go
  pkg/provisioning/bootguard/bootpolicy/bpmh_manifestcodegen.go
  pkg/provisioning/bootguard/bootpolicy/manifest.go
  pkg/provisioning/bootguard/bootpolicy/manifest_manifestcodegen.go
  pkg/provisioning/bootguard/bootpolicy/pm.go
  pkg/provisioning/bootguard/bootpolicy/pm_manifestcodegen.go
  pkg/provisioning/bootguard/bootpolicy/se.go
  pkg/provisioning/bootguard/bootpolicy/se_manifestcodegen.go
  pkg/provisioning/bootguard/bootpolicy/signature.go
  pkg/provisioning/bootguard/bootpolicy/signature_manifestcodegen.go
  pkg/provisioning/bootguard/common/crypto_routines.go
  pkg/provisioning/bootguard/common/crypto_routines_manifestcodegen.go
  pkg/provisioning/bootguard/common/hash.go
  pkg/provisioning/bootguard/common/hash_manifestcodegen.go
  pkg/provisioning/bootguard/common/key.go
  pkg/provisioning/bootguard/common/key_manifestcodegen.go
  pkg/provisioning/bootguard/common/key_signature.go
  pkg/provisioning/bootguard/common/key_signature_manifestcodegen.go
  pkg/provisioning/bootguard/common/signature.go
  pkg/provisioning/bootguard/common/signature_manifestcodegen.go
  pkg/provisioning/bootguard/common/signature_types.go
  pkg/provisioning/bootguard/common/structure.go
  pkg/provisioning/bootguard/common/structure_manifestcodegen.go
  pkg/provisioning/bootguard/common/svn.go
  pkg/provisioning/bootguard/key/manifest.go
  pkg/provisioning/bootguard/keygen.go
  pkg/provisioning/bootguard/marshal.go
  pkg/provisioning/bootguard/options.go
  pkg/provisioning/bootguard/tools.go
  pkg/provisioning/bootguard/unmarshal.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro

Fix key generation for RSA/ECDSA priv/pub keys
  pkg/provisioning/cbnt/keygen.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Make linter happy
  pkg/provisioning/bootguard/bootpolicy/bpmh.go
  pkg/provisioning/bootguard/common/crypto_routines.go
  pkg/provisioning/bootguard/keygen.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Correct linters problems with acpi
  pkg/hwapi/acpi.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add MeasurementIDMP0C2PMsgRegisters measurement ID that measures AMD registers
  pkg/pcr/get_measurements_pcr0_amd.go
  pkg/pcr/get_measurements_pcr0_amd_test.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro

Minor code-style improvement
  pkg/pcr/get_measurements_pcr0_amd_test.go
Owners: @rihter007, @xaionaro

Make error msgs more go style by uncapitalize them
  cmd/cbnt-prov/cmd.go
  cmd/pcr0tool/commands/diff/format/format.go
  cmd/txt-prov/cmd.go
  cmd/txt-prov/config.go
  cmd/txt-prov/tools.go
  cmd/txt-suite/cmd.go
  pkg/hwapi/acpi.go
  pkg/hwapi/e820.go
  pkg/hwapi/iommu.go
  pkg/hwapi/mock_null.go
  pkg/hwapi/mock_pc.go
  pkg/hwapi/msr.go
  pkg/hwapi/pci.go
  pkg/hwapi/phys_be.go
  pkg/intel/metadata/manifest/crypto_routines.go
  pkg/me/me.go
  pkg/provisioning/cbnt/keygen.go
  pkg/provisioning/txt/auxdefine.go
  pkg/provisioning/txt/auxdelete.go
  pkg/provisioning/txt/psdefine.go
  pkg/provisioning/txt/psdelete.go
  pkg/test/acpi.go
  pkg/test/cpu.go
  pkg/test/memory.go
  pkg/test/test.go
  pkg/test/tpm.go
  pkg/tools/acm.go
  pkg/tools/config.go
  pkg/tools/ifd.go
  pkg/tools/lcp.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro, @marcoguerri, @rihter007

Remove double call of readPassphraseHashTPM20
  cmd/txt-prov/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Remove double call of readPassphraseHashTPM20
  cmd/txt-prov/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Make error msgs more go style by uncapitalize them
  cmd/cbnt-prov/cmd.go
  cmd/pcr0tool/commands/diff/format/format.go
  cmd/txt-prov/cmd.go
  cmd/txt-prov/config.go
  cmd/txt-prov/tools.go
  cmd/txt-suite/cmd.go
  pkg/hwapi/acpi.go
  pkg/hwapi/e820.go
  pkg/hwapi/iommu.go
  pkg/hwapi/mock_null.go
  pkg/hwapi/mock_pc.go
  pkg/hwapi/msr.go
  pkg/hwapi/pci.go
  pkg/hwapi/phys_be.go
  pkg/intel/metadata/manifest/crypto_routines.go
  pkg/me/me.go
  pkg/provisioning/cbnt/keygen.go
  pkg/provisioning/txt/auxdefine.go
  pkg/provisioning/txt/auxdelete.go
  pkg/provisioning/txt/psdefine.go
  pkg/provisioning/txt/psdelete.go
  pkg/test/acpi.go
  pkg/test/cpu.go
  pkg/test/memory.go
  pkg/test/test.go
  pkg/test/tpm.go
  pkg/tools/acm.go
  pkg/tools/config.go
  pkg/tools/ifd.go
  pkg/tools/lcp.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro, @marcoguerri, @rihter007

Remove hwapi package Add go-linux-lowlevel-hw as dependency Integrate new dependency Pray for salvation
  cmd/cbnt-prov/cmd.go
  cmd/pcr0tool/commands/dumpregisters/helpers/get_local_registers.go
  cmd/txt-prov/cmd.go
  cmd/txt-prov/tools.go
  cmd/txt-suite/README.md
  cmd/txt-suite/cmd.go
  go.mod
  go.sum
  pkg/hwapi/acpi.go
  pkg/hwapi/api.go
  pkg/hwapi/cpu-id_test.go
  pkg/hwapi/cpu_blacklist.go
  pkg/hwapi/cpu_whitelist.go
  pkg/hwapi/cpuid_amd64.go
  pkg/hwapi/cpuid_other.go
  pkg/hwapi/cpuidlow_amd64.s
  pkg/hwapi/e820.go
  pkg/hwapi/e820_test.go
  pkg/hwapi/iommu.go
  pkg/hwapi/mock_null.go
  pkg/hwapi/mock_pc.go
  pkg/hwapi/msr.go
  pkg/hwapi/msr_test.go
  pkg/hwapi/pci.go
  pkg/hwapi/phys_be.go
  pkg/hwapi/phys_le.go
  pkg/hwapi/tpm.go
  pkg/hwapi/tss.go
  pkg/hwapi/uint.go
  pkg/registers/marshalling_test.go
  pkg/test/acpi.go
  pkg/test/cpu.go
  pkg/test/fit.go
  pkg/test/memory.go
  pkg/test/test.go
  pkg/test/test_test.go
  pkg/test/tpm.go
  pkg/tools/config.go
  pkg/tools/txt.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro, @marcoguerri, @rihter007

feat(pcr): Report about corruptions in KM, BPM and IBB
  pkg/intel/metadata/manifest/bootpolicy/manifest.go
  pkg/pcr/flow.go
  pkg/pcr/get_measurements_pcr0_cbnt0t.go
  pkg/pcr/measurement_id.go
  pkg/pcr/validate_manifests.go
Owners: @xaionaro, @ChriMarMe, @rihter007

Remove hwapi package Add go-linux-lowlevel-hw as dependency Integrate new dependency Pray for salvation
  cmd/cbnt-prov/cmd.go
  cmd/pcr0tool/commands/dumpregisters/helpers/get_local_registers.go
  cmd/txt-prov/cmd.go
  cmd/txt-prov/tools.go
  cmd/txt-suite/README.md
  cmd/txt-suite/cmd.go
  go.mod
  go.sum
  pkg/hwapi/acpi.go
  pkg/hwapi/api.go
  pkg/hwapi/cpu-id_test.go
  pkg/hwapi/cpu_blacklist.go
  pkg/hwapi/cpu_whitelist.go
  pkg/hwapi/cpuid_amd64.go
  pkg/hwapi/cpuid_other.go
  pkg/hwapi/cpuidlow_amd64.s
  pkg/hwapi/e820.go
  pkg/hwapi/e820_test.go
  pkg/hwapi/iommu.go
  pkg/hwapi/mock_null.go
  pkg/hwapi/mock_pc.go
  pkg/hwapi/msr.go
  pkg/hwapi/msr_test.go
  pkg/hwapi/pci.go
  pkg/hwapi/phys_be.go
  pkg/hwapi/phys_le.go
  pkg/hwapi/tpm.go
  pkg/hwapi/tss.go
  pkg/hwapi/uint.go
  pkg/registers/marshalling_test.go
  pkg/test/acpi.go
  pkg/test/cpu.go
  pkg/test/fit.go
  pkg/test/memory.go
  pkg/test/test.go
  pkg/test/test_test.go
  pkg/test/tpm.go
  pkg/tools/config.go
  pkg/tools/txt.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro, @marcoguerri, @rihter007

CODEOWNERS:

* @ChriMarMe @zaolin @walterchris @flanfly @PatrickRudolph @ArthurHeymans
cmd/pcr0tool/ @xaionaro @marcoguerri @rihter007
pkg/intel/metadata/ @xaionaro @ChriMarMe
pkg/registers @rihter007 @xaionaro
pkg/bytes @xaionaro @rihter007
pkg/pcr @rihter007 @xaionaro
pkg/pcd @xaionaro
pkg/amd @rihter007 @xaionaro
pkg/diff @xaionaro @rihter007
pkg/errors @xaionaro @rihter007
pkg/check @xaionaro
pkg/tpmdetection @rihter007 @xaionaro
pkg/tpmeventlog @xaionaro @rihter007
pkg/uefi @xaionaro @rihter007
