Repository 9elements/converged-security-suite, changes with the owners that CODEOWNERS names for each.
All owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c

[bootflow] Remove duplication of ACM/KM/BPM/IBB checks
  pkg/bootflow/flows/intel.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Start porting AMD flows from package `pcr`
  go.mod
  go.sum
  pkg/bootflow/conditions/ocpconds/internal_find_pe32.go
  pkg/bootflow/conditions/ocpconds/is_ocp_v0.go
  pkg/bootflow/conditions/ocpconds/is_ocp_v1.go
  pkg/bootflow/examples/calcpcr0/main.go
  pkg/bootflow/flows/amd.go
  pkg/bootflow/flows/intel.go
  pkg/bootflow/flows/ocp_pei.go
  pkg/bootflow/flows/pei.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat(pcr0tool): Add support of a logger
  cmd/bg-prov/main.go
  cmd/bg-suite/main.go
  cmd/pcr0tool/commands/command.go
  cmd/pcr0tool/commands/diff/command.go
  cmd/pcr0tool/commands/displayeventlog/command.go
  cmd/pcr0tool/commands/displayfwinfo/command.go
  cmd/pcr0tool/commands/dumpfit/command.go
  cmd/pcr0tool/commands/dumpregisters/command.go
  cmd/pcr0tool/commands/printnodes/command.go
  cmd/pcr0tool/commands/sum/command.go
  cmd/pcr0tool/main.go
  cmd/txt-prov/main.go
  cmd/txt-suite/main.go
  go.mod
  go.sum
  pkg/log/dummy_logger.go
  pkg/log/fiano_logger.go
  pkg/pcr/find_missing_fake_measurements.go
  pkg/pcr/flow_detection.go
  pkg/pcr/get_measurements.go
  pkg/pcrbruteforcer/reproduce_event_log_test.go
  pkg/pcrbruteforcer/reproduce_expected_pcr0_test.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c

[bootflow] Continue porting AMD flows from package `pcr`
  pkg/bootflow/actions/amdactions/set_psp_verified.go
  pkg/bootflow/actors/amdactors/psp.go
  pkg/bootflow/conditions/amdconds/valid_bios_directory.go
  pkg/bootflow/conditions/amdconds/valid_psp_directory.go
  pkg/bootflow/datasources/amddata/bios_directory.go
  pkg/bootflow/datasources/amddata/bios_directory_entries.go
  pkg/bootflow/datasources/amddata/embedded_firmware.go
  pkg/bootflow/datasources/amddata/psp_directory.go
  pkg/bootflow/datasources/amddata/psp_version.go
  pkg/bootflow/datasources/amddata/registers_mp0_c2p_msg.go
  pkg/bootflow/examples/calcpcr0/main.go
  pkg/bootflow/examples/validate/main.go
  pkg/bootflow/flows/amd.go
  pkg/bootflow/flows/ocp_pei.go
  pkg/bootflow/steps/amdsteps/measure_bios_directory.go
  pkg/bootflow/steps/amdsteps/measure_bios_directory_entries.go
  pkg/bootflow/steps/amdsteps/measure_bios_rtm_volume.go
  pkg/bootflow/steps/amdsteps/measure_embedded_firmware_structure.go
  pkg/bootflow/steps/amdsteps/measure_microcode_patch.go
  pkg/bootflow/steps/amdsteps/measure_mp0_c2p_msg_registers.go
  pkg/bootflow/steps/amdsteps/measure_pmu_firmware.go
  pkg/bootflow/steps/amdsteps/measure_psp_version.go
  pkg/bootflow/steps/amdsteps/measure_to_tpm_each_range_separately.go
  pkg/bootflow/steps/amdsteps/measure_video_image_interpreter.go
  pkg/bootflow/steps/amdsteps/verify_bios_directory.go
  pkg/bootflow/steps/amdsteps/verify_psp_directory.go
  pkg/bootflow/subsystems/trustchains/amdpsp/pch.go
  pkg/bootflow/systemartifacts/amdregisters/amd_registers.go
  pkg/bootflow/systemartifacts/biosimage/accessor/amdbiosimage/accessor.go
  pkg/bootflow/systemartifacts/biosimage/accessor/amdbiosimage/amd_firmware.go
  pkg/bootflow/systemartifacts/biosimage/accessor/amdbiosimage/bios_directory_entry.go
  pkg/bootflow/types/data.go
  pkg/registers/mp0_c2p_msg_37.go
  pkg/registers/mp0_c2p_msg_38.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @rihter007, @xaionaro, @trynity, @marcoguerri, @u1f35c

Update config.yml
  .circleci/config.yml
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Bugfix for finding PE32 files
  pkg/bootflow/conditions/ocpconds/internal_find_pe32.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Multiple ForcedBytes per Data
  pkg/bootflow/actions/tpmactions/tpm_event.go
  pkg/bootflow/actions/tpmactions/tpm_extend.go
  pkg/bootflow/bootengine/validator/validator_actors_are_protected.go
  pkg/bootflow/bootengine/validator/validator_final_coverage_is_complete.go
  pkg/bootflow/dataconverters/hasher.go
  pkg/bootflow/datasources/amddata/bios_directory.go
  pkg/bootflow/datasources/amddata/bios_directory_entries.go
  pkg/bootflow/datasources/amddata/embedded_firmware.go
  pkg/bootflow/datasources/amddata/psp_directory.go
  pkg/bootflow/datasources/amddata/psp_version.go
  pkg/bootflow/datasources/amddata/registers_mp0_c2p_msg.go
  pkg/bootflow/datasources/bytes.go
  pkg/bootflow/datasources/concat.go
  pkg/bootflow/datasources/inteldata/fit.go
  pkg/bootflow/datasources/inteldata/ibb.go
  pkg/bootflow/datasources/mem_ranges.go
  pkg/bootflow/datasources/pcd_variable.go
  pkg/bootflow/datasources/sort_and_merge.go
  pkg/bootflow/datasources/uefi_files.go
  pkg/bootflow/datasources/uefi_guid.go
  pkg/bootflow/datasources/volume_of.go
  pkg/bootflow/examples/bruteforce_acm_policy_status/main.go
  pkg/bootflow/examples/calcpcr0/main.go
  pkg/bootflow/flows/amd.go
  pkg/bootflow/steps/amdsteps/measure_to_tpm_each_range_separately.go
  pkg/bootflow/steps/intelsteps/measure_pcr0_data.go
  pkg/bootflow/types/data.go
  pkg/bootflow/types/data_converter.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow][calcpcr0] Add flags -compare-with-eventlog and -expected-pcr0
  pkg/bootflow/examples/calcpcr0/main.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Add measurement re-order bruteforcer
  pkg/bootflow/examples/calcpcr0/main.go
  pkg/bootflow/steps/tpmsteps/log_init.go
  pkg/bootflow/subsystems/trustchains/tpm/command.go
  pkg/bootflow/subsystems/trustchains/tpm/command_event_log_add.go
  pkg/bootflow/subsystems/trustchains/tpm/command_extend.go
  pkg/bootflow/subsystems/trustchains/tpm/command_init.go
  pkg/bootflow/subsystems/trustchains/tpm/event_log.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/README.md
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/analyze_unexpected_log_entry.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/register_hash_cache.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_event_log.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_event_log_result.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_event_log_test.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_expected_pcr0.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_expected_pcr0_test.go
  pkg/bootflow/subsystems/trustchains/tpm/tpm.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Fix the StepIdx bug
  pkg/bootflow/bootengine/boot_process.go
  pkg/bootflow/examples/calcpcr0/main.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[pcr0tool] Remove non-working code
  cmd/pcr0tool/commands/sum/command.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c

[bootflow][calcpcr0] Show only relevant extends
  pkg/bootflow/examples/calcpcr0/main.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow][calcpcr0] Show the relevant index in DisabledMeasurements
  pkg/bootflow/examples/calcpcr0/main.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Satisfy the linter
  go.mod
  pkg/bootflow/examples/calcpcr0/main.go
  pkg/bootflow/steps/amdsteps/measure_bios_directory_entries.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_event_log.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_event_log_result.go
  pkg/bootflow/types/data.go
  pkg/bootflow/types/state.go
  pkg/bootflow/types/state_test.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bg-prov] Fix a typo
  pkg/provisioning/bootguard/bootguard.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow][calcpcr0] Smarted PCR0 reproducer
  pkg/bootflow/examples/calcpcr0/main.go
  pkg/bootflow/flows/amd.go
  pkg/bootflow/flows/ocp_pei.go
  pkg/bootflow/subsystems/trustchains/tpm/event_log.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_event_log_result.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow][calcpcr0] Print resulting PCR0
  pkg/bootflow/examples/calcpcr0/main.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow][calcpcr0] Fix a typo in an error format
  pkg/bootflow/examples/calcpcr0/main.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow][calcpcr0] Do not print TPMInit if the locality does not match
  pkg/bootflow/examples/calcpcr0/main.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow][calcpcr0] Do not mention ACMPolicyStatus if it wasn't changed
  pkg/bootflow/examples/calcpcr0/main.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Named flows.
  pkg/bootflow/actions/commonactions/set_flow.go
  pkg/bootflow/bootengine/boot_process.go
  pkg/bootflow/examples/bruteforce_acm_policy_status/main.go
  pkg/bootflow/flows/amd.go
  pkg/bootflow/flows/dxe.go
  pkg/bootflow/flows/intel.go
  pkg/bootflow/flows/ocp_pei.go
  pkg/bootflow/flows/pei.go
  pkg/bootflow/flows/root.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_event_log.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_event_log_test.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_expected_pcr0.go
  pkg/bootflow/types/action.go
  pkg/bootflow/types/flow.go
  pkg/bootflow/types/state.go
  pkg/bootflow/types/state_test.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Add method Log.Error()
  go.mod
  go.sum
  pkg/bootflow/bootengine/log.go
  pkg/bootflow/bootengine/validator/validator_actors_are_protected.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Add a constructed of BIOSImage given a parsed UEFI
  pkg/bootflow/systemartifacts/biosimage/bios_image.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[tpmeventlog] Add support of PCR0:EV_POST_CODE
  pkg/tpmeventlog/parse_event_data.go
Owners: @xaionaro, @rihter007, @trynity, @marcoguerri, @u1f35c

[tpmeventlog] Add support of PCR0:EV_POST_CODE
  pkg/tpmeventlog/parse_event_data.go
Owners: @xaionaro, @rihter007, @trynity, @marcoguerri, @u1f35c

[bootflow] Add a Condition for BIOS version
  cmd/pcr0tool/commands/displayfwinfo/command.go
  pkg/bootflow/conditions/biosconds/amdconds/manifest_present.go
  pkg/bootflow/conditions/biosconds/amdconds/valid_bios_directory.go
  pkg/bootflow/conditions/biosconds/amdconds/valid_psp_directory.go
  pkg/bootflow/conditions/biosconds/intelconds/bpm_present.go
  pkg/bootflow/conditions/biosconds/intelconds/fit_present.go
  pkg/bootflow/conditions/biosconds/intelconds/valid_acm.go
  pkg/bootflow/conditions/biosconds/intelconds/valid_bpm.go
  pkg/bootflow/conditions/biosconds/intelconds/valid_ibb.go
  pkg/bootflow/conditions/biosconds/intelconds/valid_km.go
  pkg/bootflow/conditions/biosconds/ocpconds/internal_find_pe32.go
  pkg/bootflow/conditions/biosconds/ocpconds/is_ocp_v0.go
  pkg/bootflow/conditions/biosconds/ocpconds/is_ocp_v1.go
  pkg/bootflow/conditions/biosconds/version_regexp.go
  pkg/bootflow/datasources/pcd_variable.go
  pkg/bootflow/flows/intel.go
  pkg/bootflow/flows/ocp_pei.go
  pkg/bootflow/flows/pei.go
  pkg/bootflow/flows/root.go
  pkg/bootflow/steps/amdsteps/verify_bios_directory.go
  pkg/bootflow/steps/amdsteps/verify_psp_directory.go
  pkg/bootflow/steps/intelsteps/verify_acm.go
  pkg/bootflow/steps/intelsteps/verify_bpm.go
  pkg/bootflow/steps/intelsteps/verify_ibb.go
  pkg/bootflow/steps/intelsteps/verify_km.go
  pkg/bootflow/systemartifacts/biosimage/bios_image.go
  pkg/dmidecode/dmi_table.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c, @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Fix few typos
  pkg/bootflow/subsystems/trustchains/amdpsp/psp.go
  pkg/bootflow/systemartifacts/amdregisters/amd_registers.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Add more comments
  pkg/bootflow/bootengine/issue.go
  pkg/bootflow/steps/commonsteps/set_actor.go
  pkg/bootflow/steps/commonsteps/set_flow.go
  pkg/bootflow/steps/tpmsteps/init_tpm.go
  pkg/bootflow/steps/tpmsteps/log_init.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Add support for "else" in commonsteps.If
  pkg/bootflow/flows/amd.go
  pkg/bootflow/flows/intel.go
  pkg/bootflow/flows/ocp_pei.go
  pkg/bootflow/flows/pei.go
  pkg/bootflow/flows/root.go
  pkg/bootflow/steps/commonsteps/if.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Add commonsteps.MergeSteps
  pkg/bootflow/steps/commonsteps/merge_steps.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[pkg/diff] Decouple the code from package `pcr`
  cmd/pcr0tool/commands/diff/command.go
  cmd/pcr0tool/commands/diff/format/format.go
  pkg/diff/analyze.go
  pkg/diff/analyze_test.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c

[pkg/diff] Decouple the code from package `pcr`
  cmd/pcr0tool/commands/diff/command.go
  cmd/pcr0tool/commands/diff/format/format.go
  pkg/diff/analyze.go
  pkg/diff/analyze_test.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c

[bootflow] Additional magic value for OCPv0 and OCPv1 conds
  pkg/bootflow/conditions/biosconds/ocpconds/is_ocp_v0.go
  pkg/bootflow/conditions/biosconds/ocpconds/is_ocp_v1.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Publish the SetFlow struct
  pkg/bootflow/steps/commonsteps/set_flow.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[tpmeventlog] Move Replay from `pcr` to `tpmeventlog`
  cmd/pcr0tool/commands/displayeventlog/command.go
  pkg/pcr/errors.go
  pkg/pcr/replay.go
  pkg/tpmeventlog/errors.go
  pkg/tpmeventlog/replay.go
  pkg/tpmeventlog/replay_test.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c

[tpmeventlog] Move Replay from `pcr` to `tpmeventlog`
  cmd/pcr0tool/commands/displayeventlog/command.go
  pkg/pcr/errors.go
  pkg/pcr/replay.go
  pkg/tpmeventlog/errors.go
  pkg/tpmeventlog/replay.go
  pkg/tpmeventlog/replay_test.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c

[bootflow] Add support for the legacy TXT enabled flow
  pkg/bootflow/datasources/inteldata/acm_date.go
  pkg/bootflow/datasources/inteldata/fit.go
  pkg/bootflow/flows/intel.go
  pkg/bootflow/flows/ocp_pei.go
  pkg/bootflow/flows/pei.go
  pkg/bootflow/steps/commonsteps/merge_step.go
  pkg/bootflow/steps/intelsteps/measure_acm_date.go
  pkg/bootflow/steps/intelsteps/measure_fit_data.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow][tpm] Optimize CPU&MEM consumption
  pkg/bootflow/subsystems/trustchains/tpm/command.go
  pkg/bootflow/subsystems/trustchains/tpm/command_extend.go
  pkg/bootflow/subsystems/trustchains/tpm/command_extend_unsafe.go
  pkg/bootflow/subsystems/trustchains/tpm/command_init.go
  pkg/bootflow/subsystems/trustchains/tpm/command_test.go
  pkg/bootflow/subsystems/trustchains/tpm/pools.go
  pkg/bootflow/subsystems/trustchains/tpm/tpm.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow][calcpcr0] More verbosity
  pkg/bootflow/examples/calcpcr0/main.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow][biosconds] Fix a typo in logging
  pkg/bootflow/conditions/biosconds/version_regexp.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

CODEOWNERS:

* @ChriMarMe @zaolin @walterchris @flanfly @PatrickRudolph @ArthurHeymans
cmd/pcr0tool/ @xaionaro @marcoguerri @rihter007 @trynity @u1f35c
pkg/intel/metadata/ @xaionaro @ChriMarMe @trynity @marcoguerri @u1f35c
pkg/registers @rihter007 @xaionaro @trynity @marcoguerri @u1f35c
pkg/bytes @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
pkg/pcr @rihter007 @xaionaro @trynity @marcoguerri @u1f35c
pkg/pcd @xaionaro @trynity @marcoguerri @u1f35c
pkg/amd @rihter007 @xaionaro @trynity @marcoguerri @u1f35c
pkg/diff @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
pkg/errors @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
pkg/check @xaionaro @trynity @marcoguerri @u1f35c
pkg/tpmdetection @rihter007 @xaionaro @trynity @marcoguerri @u1f35c
pkg/tpmeventlog @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
pkg/uefi @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
