Repository 9elements/converged-security-suite, changes with the owners that CODEOWNERS names for each.
All owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro, @marcoguerri, @rihter007, @trynity

CODEOWNERS:

* @ChriMarMe @zaolin @walterchris @flanfly @PatrickRudolph @ArthurHeymans
cmd/pcr0tool/ @xaionaro @marcoguerri @rihter007 @trynity
pkg/intel/metadata/ @xaionaro @ChriMarMe @trynity @marcoguerri
pkg/registers @rihter007 @xaionaro @trynity @marcoguerri
pkg/bytes @xaionaro @rihter007 @trynity @marcoguerri
pkg/pcr @rihter007 @xaionaro @trynity @marcoguerri
pkg/pcd @xaionaro @trynity @marcoguerri
pkg/amd @rihter007 @xaionaro @trynity @marcoguerri
pkg/diff @xaionaro @rihter007 @trynity @marcoguerri
pkg/errors @xaionaro @rihter007 @trynity @marcoguerri
pkg/check @xaionaro @trynity @marcoguerri
pkg/tpmdetection @rihter007 @xaionaro @trynity @marcoguerri
pkg/tpmeventlog @xaionaro @rihter007 @trynity @marcoguerri
pkg/uefi @xaionaro @rihter007 @trynity @marcoguerri

[dumpregisters] Dump registers in a human-readable YAML
  cmd/pcr0tool/commands/dumpregisters/command.go
  cmd/pcr0tool/commands/dumpregisters/helpers/flag_registers.go
  go.mod
  pkg/registers/marshal_value.go
  pkg/registers/marshalling.go
  pkg/registers/marshalling_test.go
  pkg/registers/mp0_c2p_msg_37.go
  pkg/registers/mp0_c2p_msg_38.go
  pkg/registers/msr_boot_guard_pbec.go
  pkg/registers/msr_btg_sacm_info.go
  pkg/registers/msr_ia32_debug_interface.go
  pkg/registers/msr_ia32_feature_control.go
  pkg/registers/msr_ia32_mtrrcap.go
  pkg/registers/msr_ia32_platform_id.go
  pkg/registers/msr_ia32_smrr_physbase.go
  pkg/registers/msr_ia32_smrr_physmask.go
  pkg/registers/registers.go
  pkg/registers/registers_test.go
  pkg/registers/registry.go
  pkg/registers/txt_acm_policy_status.go
  pkg/registers/txt_acm_status.go
  pkg/registers/txt_bootstatus.go
  pkg/registers/txt_device_id.go
  pkg/registers/txt_dpr.go
  pkg/registers/txt_error_code.go
  pkg/registers/txt_ests.go
  pkg/registers/txt_heap_base.go
  pkg/registers/txt_heap_size.go
  pkg/registers/txt_mle_join.go
  pkg/registers/txt_public_key.go
  pkg/registers/txt_sinit_base.go
  pkg/registers/txt_sinit_size.go
  pkg/registers/txt_status.go
  pkg/registers/txt_ver_emif.go
  pkg/registers/txt_ver_fsbif.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fix cbnt-prov bpm-gen for bare BIOS regions
  cmd/cbnt-prov/cmd.go
  pkg/provisioning/cbnt/config.go
  pkg/tools/ifd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[pcr0tool] Add verbs display_fwinfo and display_eventlog
  cmd/pcr0tool/commands/displayeventlog/command.go
  cmd/pcr0tool/commands/displayeventlog/flag_format.go
  cmd/pcr0tool/commands/displayeventlog/format/event_log.go
  cmd/pcr0tool/commands/displayfwinfo/command.go
  cmd/pcr0tool/main.go
  pkg/dmidecode/dmi_table.go
  pkg/dmidecode/errors.go
  pkg/dmidecode/get_bios_info.go
  pkg/dmidecode/get_system_info.go
  pkg/tpm/parse_sysfs_pcrs.go
  pkg/tpm/parse_sysfs_pcrs_test.go
  pkg/tpm/read_pcr_from_tpm.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[pcr0tool][dumpregisters] Add support for dumped TXT Public Space
  cmd/pcr0tool/commands/dumpregisters/command.go
  cmd/pcr0tool/commands/dumpregisters/helpers/flag_registers.go
  cmd/pcr0tool/commands/dumpregisters/helpers/get_local_registers.go
  cmd/pcr0tool/commands/dumpregisters/helpers/get_registers.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity

[pcr0tool] Fix error reporting on PCR0 measurements collecting
  pkg/pcr/errors.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro, @trynity, @marcoguerri

Add a fake Intel CBnT image
  cmd/pcr0tool/commands/dumpregisters/helpers/get_registers.go
  go.mod
  go.sum
  pkg/pcd/errors.go
  pkg/pcd/parse_firmware_dummy.go
  testdata/firmware/fake_intel_firmware.fd
  testdata/firmware/fake_intel_firmware.go
  testdata/firmware/go.mod
  testdata/firmware/go.sum
  testdata/firmware/scripts/generate_fake_intel_firmware.sh
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[dumpregisters] Dump registers in a human-readable YAML
  cmd/pcr0tool/commands/dumpregisters/command.go
  cmd/pcr0tool/commands/dumpregisters/helpers/flag_registers.go
  go.mod
  pkg/registers/marshal_value.go
  pkg/registers/marshalling.go
  pkg/registers/marshalling_test.go
  pkg/registers/mp0_c2p_msg_37.go
  pkg/registers/mp0_c2p_msg_38.go
  pkg/registers/msr_boot_guard_pbec.go
  pkg/registers/msr_btg_sacm_info.go
  pkg/registers/msr_ia32_debug_interface.go
  pkg/registers/msr_ia32_feature_control.go
  pkg/registers/msr_ia32_mtrrcap.go
  pkg/registers/msr_ia32_platform_id.go
  pkg/registers/msr_ia32_smrr_physbase.go
  pkg/registers/msr_ia32_smrr_physmask.go
  pkg/registers/registers.go
  pkg/registers/registers_test.go
  pkg/registers/registry.go
  pkg/registers/txt_acm_policy_status.go
  pkg/registers/txt_acm_status.go
  pkg/registers/txt_bootstatus.go
  pkg/registers/txt_device_id.go
  pkg/registers/txt_dpr.go
  pkg/registers/txt_error_code.go
  pkg/registers/txt_ests.go
  pkg/registers/txt_heap_base.go
  pkg/registers/txt_heap_size.go
  pkg/registers/txt_mle_join.go
  pkg/registers/txt_public_key.go
  pkg/registers/txt_sinit_base.go
  pkg/registers/txt_sinit_size.go
  pkg/registers/txt_status.go
  pkg/registers/txt_ver_emif.go
  pkg/registers/txt_ver_fsbif.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fix cbnt-prov bpm-gen for bare BIOS regions
  cmd/cbnt-prov/cmd.go
  pkg/provisioning/cbnt/config.go
  pkg/tools/ifd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[pcr0tool] Add a comparator with TPM EventLog
  cmd/pcr0tool/commands/sum/command.go
  go.mod
  go.sum
  pkg/bruteforcer/README.md
  pkg/bruteforcer/brute_forcer.go
  pkg/bruteforcer/brute_forcer_test.go
  pkg/bruteforcer/indexes.go
  pkg/bruteforcer/indexes_test.go
  pkg/pcrbruteforcer/register_hash_cache.go
  pkg/pcrbruteforcer/reproduce_event_log.go
  pkg/pcrbruteforcer/reproduce_event_log_test.go
  pkg/pcrbruteforcer/reproduce_expected_pcr0.go
  pkg/pcrbruteforcer/reproduce_expected_pcr0_test.go
  pkg/tpmeventlog/event_type.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fix cbnt-prov README.md typo
  cmd/cbnt-prov/README.md
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

cmd/cbnt-prov/cmd.go: Fixup Fiano code change
  cmd/cbnt-prov/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

cbnt-prov: Allow *-show to work on full images (#314)
  cmd/cbnt-prov/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

pkg/provisioning/cbnt/config.go: Rework IBB segment hashing
  pkg/provisioning/cbnt/config.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fix cbnt-prov README.md typo
  cmd/cbnt-prov/README.md
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

pkg/provisioning/cbnt/config.go: Rework IBB segment hashing (#327)
  pkg/provisioning/cbnt/config.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add support of GOARCH=386
  go.mod
  go.sum
  pkg/uefi/uefi.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro, @rihter007, @trynity, @marcoguerri

An attempt to fix testdata/firmware/go.mod
  go.mod
  pkg/pcrbruteforcer/reproduce_event_log_test.go
  pkg/pcrbruteforcer/reproduce_expected_pcr0_test.go
  pkg/uefi/fiano_bench_test.go
  testdata/firmware/go.mod
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro, @rihter007, @trynity, @marcoguerri

Add a skeleton of redesigned "pcr" package
  go.mod
  pkg/bootflow/actions/commonactions/set_flow.go
  pkg/bootflow/actions/tpmactions/tpm_event.go
  pkg/bootflow/actions/tpmactions/tpm_extend.go
  pkg/bootflow/datasources/_autodocs.go
  pkg/bootflow/datasources/data_source.go
  pkg/bootflow/datasources/static_data.go
  pkg/bootflow/datasources/uefi_guid.go
  pkg/bootflow/flows/_autodocs.go
  pkg/bootflow/flows/ocp_dxe.go
  pkg/bootflow/steps/commonsteps/_autodocs.go
  pkg/bootflow/steps/commonsteps/set_flow.go
  pkg/bootflow/steps/tpmsteps/_autodocs.go
  pkg/bootflow/steps/tpmsteps/measure_pcd.go
  pkg/bootflow/steps/tpmsteps/measure_separator.go
  pkg/bootflow/steps/tpmsteps/measure_uefi_guid.go
  pkg/bootflow/systemartifacts/system_artifact_bios_firmware.go
  pkg/bootflow/trustchains/_autodocs.go
  pkg/bootflow/trustchains/trust_chain_tpm.go
  pkg/bootflow/types/_autodocs.go
  pkg/bootflow/types/data.go
  pkg/bootflow/types/flow.go
  pkg/bootflow/types/state.go
  pkg/bootflow/types/system_artifact.go
  pkg/bootflow/types/trust_chain.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Set PCR indexes in the flow
  pkg/bootflow/flows/ocp_dxe.go
  pkg/bootflow/steps/tpmsteps/measure_pcd.go
  pkg/bootflow/steps/tpmsteps/measure_uefi_guid.go
  pkg/bootflow/types/_autodocs.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Add examples
  pkg/bootflow/actions/tpmactions/tpm_event.go
  pkg/bootflow/actions/tpmactions/tpm_extend.go
  pkg/bootflow/actions/tpmactions/tpm_init.go
  pkg/bootflow/bootengine/boot_process.go
  pkg/bootflow/bootengine/issue.go
  pkg/bootflow/bootengine/log.go
  pkg/bootflow/datasources/uefi_guid.go
  pkg/bootflow/examples/bruteforce/main.go
  pkg/bootflow/examples/ocpdxepcr0/main.go
  pkg/bootflow/flows/ocp_dxe.go
  pkg/bootflow/steps/tpmsteps/init_tpm.go
  pkg/bootflow/systemartifacts/biosfirmware/bios_firmware.go
  pkg/bootflow/trustchains/tpm/_autodocs.go
  pkg/bootflow/trustchains/tpm/command_log.go
  pkg/bootflow/trustchains/tpm/digest.go
  pkg/bootflow/trustchains/tpm/event_log.go
  pkg/bootflow/trustchains/tpm/tpm.go
  pkg/bootflow/types/errors.go
  pkg/bootflow/types/state.go
  pkg/bootflow/types/system_artifact.go
  pkg/bootflow/types/trust_chain.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Log Actions
  pkg/bootflow/bootengine/boot_process.go
  pkg/bootflow/bootengine/log.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Improve output in the examples
  pkg/bootflow/actions/tpmactions/tpm_event.go
  pkg/bootflow/actions/tpmactions/tpm_init.go
  pkg/bootflow/bootengine/log.go
  pkg/bootflow/datasources/static_data.go
  pkg/bootflow/types/data.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] polishing
  pkg/bootflow/examples/bruteforce/main.go
  pkg/bootflow/types/state.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Fix a typo
  pkg/bootflow/actions/tpmactions/tpm_init.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Rename a variable
  pkg/bootflow/actions/tpmactions/tpm_init.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Fix a typo
  pkg/bootflow/actions/tpmactions/tpm_init.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fix linting of kong cli tags
  cmd/cbnt-prov/cmd.go
  cmd/txt-prov/cmd.go
  cmd/txt-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Initial BootGuard Provisioning support
  .gitignore
  cmd/bg-prov/README.md
  cmd/bg-prov/cmd.go
  cmd/bg-prov/main.go
  pkg/provisioning/bootguard/bootpolicy/bpmh.go
  pkg/provisioning/bootguard/bootpolicy/bpmh_manifestcodegen.go
  pkg/provisioning/bootguard/bootpolicy/manifest.go
  pkg/provisioning/bootguard/bootpolicy/manifest_manifestcodegen.go
  pkg/provisioning/bootguard/bootpolicy/pm.go
  pkg/provisioning/bootguard/bootpolicy/pm_manifestcodegen.go
  pkg/provisioning/bootguard/bootpolicy/se.go
  pkg/provisioning/bootguard/bootpolicy/se_manifestcodegen.go
  pkg/provisioning/bootguard/bootpolicy/signature.go
  pkg/provisioning/bootguard/bootpolicy/signature_manifestcodegen.go
  pkg/provisioning/bootguard/common/crypto_routines.go
  pkg/provisioning/bootguard/common/crypto_routines_manifestcodegen.go
  pkg/provisioning/bootguard/common/hash.go
  pkg/provisioning/bootguard/common/hash_manifestcodegen.go
  pkg/provisioning/bootguard/common/key.go
  pkg/provisioning/bootguard/common/key_manifestcodegen.go
  pkg/provisioning/bootguard/common/key_signature.go
  pkg/provisioning/bootguard/common/key_signature_manifestcodegen.go
  pkg/provisioning/bootguard/common/signature.go
  pkg/provisioning/bootguard/common/signature_manifestcodegen.go
  pkg/provisioning/bootguard/common/signature_types.go
  pkg/provisioning/bootguard/common/structure.go
  pkg/provisioning/bootguard/common/structure_manifestcodegen.go
  pkg/provisioning/bootguard/common/svn.go
  pkg/provisioning/bootguard/key/manifest.go
  pkg/provisioning/bootguard/keygen.go
  pkg/provisioning/bootguard/marshal.go
  pkg/provisioning/bootguard/options.go
  pkg/provisioning/bootguard/tools.go
  pkg/provisioning/bootguard/unmarshal.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add template generation to BootGuard
  cmd/bg-prov/cmd.go
  pkg/provisioning/bootguard/common/key.go
  pkg/provisioning/bootguard/options.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fix key generation for RSA/ECDSA priv/pub keys
  pkg/provisioning/cbnt/keygen.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Make linter happy
  pkg/provisioning/bootguard/bootpolicy/bpmh.go
  pkg/provisioning/bootguard/common/crypto_routines.go
  pkg/provisioning/bootguard/keygen.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add key generation for RSA2048 key pairs
  cmd/bg-prov/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Adapt to changes in fiano/pkg/intel
  .gitignore
  cmd/cbnt-prov/cmd.go
  cmd/cbnt-prov/main.go
  pkg/provisioning/cbnt/config.go
  pkg/provisioning/cbnt/marshal.go
  pkg/provisioning/cbnt/tools.go
  pkg/provisioning/cbnt/unmarshal.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

README.md: Update readme to include NlNet Funding
  README.md
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

README.md: Update readme to include NlNet Funding
  README.md
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat(pkg/uefi): Add a field to adjust the offset
  pkg/uefi/ffs/node.go
  pkg/uefi/ffs/node_get_by.go
  pkg/uefi/ffs/node_get_by_range_test.go
Owners: @xaionaro, @rihter007, @trynity, @marcoguerri
