Repository 9elements/converged-security-suite, changes with the owners that CODEOWNERS names for each.
All owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro, @marcoguerri, @rihter007

Parse PSP Header version and cookie (#250)
  pkg/amd/manifest/bios_directory_table.go
  pkg/amd/manifest/firmware.go
  pkg/amd/manifest/psp_directory_table.go
  pkg/amd/manifest/psp_header.go
  pkg/amd/manifest/psp_header_test.go
Owners: @rihter007, @xaionaro

Fix problems reported by golangci-lint, part 1
  pkg/pcr/errors.go
  pkg/pcr/find_missing_fake_measurements.go
  pkg/provisioning/cbnt/keygen.go
  pkg/test/cpu.go
  pkg/test/fit.go
  pkg/test/memory.go
  pkg/test/tpm.go
  pkg/tools/acm.go
  pkg/tools/lcp.go
Owners: @rihter007, @xaionaro, @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Remove extra line
  pkg/intel/metadata/manifest/bootpolicy/manifest.go
Owners: @xaionaro, @ChriMarMe

Fix "unreachable code" in bootpolicy manifest
  pkg/intel/metadata/manifest/bootpolicy/manifest_manifestcodegen.go
  pkg/intel/metadata/manifest/common/manifestcodegen/cmd/manifestcodegen/template_methods.tpl.go
Owners: @xaionaro, @ChriMarMe

Use GitHub action for golangci-lint
  .circleci/config.yml
  .github/workflows/golangci-lint.yml
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Remove len(vas) < 0
  pkg/hwapi/iommu.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Disabling linter where it is false-positive
  pkg/diff/analyze.go
  pkg/diff/analyze_test.go
Owners: @xaionaro, @rihter007

Fix "go test" for "pkg/amd"
  .circleci/config.yml
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add "apt-get install libtspi-dev" to CircleCI
  .circleci/config.yml
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fix unit-tests
  pkg/errors/multi_error_test.go
  pkg/tpmdetection/detection.go
  pkg/tpmdetection/detection_test.go
Owners: @xaionaro, @rihter007

Fix path to "fit" package in CircleCI
  .circleci/config.yml
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fix typo "tmpeventlog" -> "tpmeventlog"
  .circleci/config.yml
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fix golint errors in AMD package
  pkg/amd/manifest/bios_directory_table.go
  pkg/amd/manifest/embedded_firmware_structure.go
  pkg/amd/manifest/psp_directory_table.go
  pkg/amd/manifest/psp_header.go
Owners: @rihter007, @xaionaro

Fix golint errors in AMD package
  pkg/amd/manifest/bios_directory_table.go
  pkg/amd/manifest/embedded_firmware_structure.go
  pkg/amd/manifest/psp_directory_table.go
  pkg/amd/manifest/psp_header.go
Owners: @rihter007, @xaionaro

Add support of AMD PSP disabled and enabled legacy measurement flows
  pkg/amd/manifest/psp_directory_table.go
  pkg/pcr/flow.go
  pkg/pcr/flow_detection.go
  pkg/registers/amd/mp0_c2p_msg_37.go
  pkg/registers/amd/registers_test.go
  pkg/registers/field.go
  pkg/registers/msr_boot_guard_pbec.go
  pkg/registers/msr_btg_sacm_info.go
  pkg/registers/msr_ia32_debug_interface.go
  pkg/registers/msr_ia32_feature_control.go
  pkg/registers/msr_ia32_mtrrcap.go
  pkg/registers/msr_ia32_platform_id.go
  pkg/registers/msr_ia32_smrr_physbase.go
  pkg/registers/msr_ia32_smrr_physmask.go
  pkg/registers/txt_acm_policy_status.go
  pkg/registers/txt_acm_status.go
  pkg/registers/txt_bootstatus.go
  pkg/registers/txt_device_id.go
  pkg/registers/txt_dpr.go
  pkg/registers/txt_error_code.go
  pkg/registers/txt_ests.go
  pkg/registers/txt_status.go
Owners: @rihter007, @xaionaro

Fix bug in DetectMainAttestationFlow in branching into AMD's flow
  pkg/pcr/flow_detection.go
Owners: @rihter007, @xaionaro

Minor change unit test
  pkg/registers/amd/registers_test.go
Owners: @rihter007, @xaionaro

bugfix(pcr): Use only the first IBB digest for integrity validation
  pkg/intel/metadata/manifest/bootpolicy/manifest.go
Owners: @xaionaro, @ChriMarMe

Add validate command to bg-prov to validate a given firmware image in regard of CBnT validity
  cmd/cbnt-prov/cmd.go
  pkg/provisioning/cbnt/validate_cross.go
  pkg/provisioning/cbnt/validation.go
  pkg/provisioning/cbnt/validation_bpm.go
  pkg/provisioning/cbnt/validation_help.go
  pkg/provisioning/cbnt/validation_km.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

bugfix(tools): Remove fiano's garbage logging
  pkg/tools/fiano_suppress_log.go
  pkg/tools/ifd.go
  pkg/tools/ifd_test.go
  testdata/firmware/get_image.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

fix linting errors
  pkg/provisioning/cbnt/validation.go
  pkg/provisioning/cbnt/validation_bpm.go
  pkg/provisioning/cbnt/validation_help.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add complain if km-gen does not have bpm public signing key supplied
  cmd/cbnt-prov/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Change optional flags of stichtingCmd to required args
  cmd/cbnt-prov/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Replace type of IBBHash with string, This allows passing arugments in human readable form Correctes rebase error with other IBB flags
  cmd/cbnt-prov/cmd.go
  pkg/intel/metadata/manifest/crypto_routines.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro

Fix bug in DetectMainAttestationFlow in branching into AMD's flow
  pkg/pcr/flow_detection.go
Owners: @rihter007, @xaionaro

Minor change unit test
  pkg/registers/amd/registers_test.go
Owners: @rihter007, @xaionaro

Add support of AMD PSP disabled and enabled legacy measurement flows
  pkg/amd/manifest/psp_directory_table.go
  pkg/pcr/flow.go
  pkg/pcr/flow_detection.go
  pkg/registers/amd/mp0_c2p_msg_37.go
  pkg/registers/amd/registers_test.go
  pkg/registers/field.go
  pkg/registers/msr_boot_guard_pbec.go
  pkg/registers/msr_btg_sacm_info.go
  pkg/registers/msr_ia32_debug_interface.go
  pkg/registers/msr_ia32_feature_control.go
  pkg/registers/msr_ia32_mtrrcap.go
  pkg/registers/msr_ia32_platform_id.go
  pkg/registers/msr_ia32_smrr_physbase.go
  pkg/registers/msr_ia32_smrr_physmask.go
  pkg/registers/txt_acm_policy_status.go
  pkg/registers/txt_acm_status.go
  pkg/registers/txt_bootstatus.go
  pkg/registers/txt_device_id.go
  pkg/registers/txt_dpr.go
  pkg/registers/txt_error_code.go
  pkg/registers/txt_ests.go
  pkg/registers/txt_status.go
Owners: @rihter007, @xaionaro

Move AMD's MP0_C2P_MSG_37 to registers folder Add MP0_C2P_MSG_37 to marshaller
  pkg/pcr/flow_detection.go
  pkg/registers/amd_registers_test.go
  pkg/registers/marshalling.go
  pkg/registers/marshalling_test.go
  pkg/registers/mp0_c2p_msg_37.go
Owners: @rihter007, @xaionaro

Fix typo: AMD's Platform Secure Boot (PSB), not PSP
  pkg/pcr/flow.go
  pkg/pcr/flow_detection.go
Owners: @rihter007, @xaionaro

Fix typo: "legacypsnenabled" -> "legacypsbenabled"
  pkg/pcr/flow.go
Owners: @rihter007, @xaionaro

Fix typo: AMD's Platform Secure Boot (PSB), not PSP
  pkg/pcr/flow.go
  pkg/pcr/flow_detection.go
Owners: @rihter007, @xaionaro

Move AMD's MP0_C2P_MSG_37 to registers folder Add MP0_C2P_MSG_37 to marshaller
  pkg/pcr/flow_detection.go
  pkg/registers/amd_registers_test.go
  pkg/registers/marshalling.go
  pkg/registers/marshalling_test.go
  pkg/registers/mp0_c2p_msg_37.go
Owners: @rihter007, @xaionaro

Fix typo: "legacypsnenabled" -> "legacypsbenabled"
  pkg/pcr/flow.go
Owners: @rihter007, @xaionaro

Make PrintRegisters/PrintRegister exportable
  cmd/pcr0tool/commands/dumpregisters/command.go
Owners: @xaionaro, @marcoguerri, @rihter007

Move PrintRegisters&PrintRegister to helpers package
  cmd/pcr0tool/commands/dumpregisters/command.go
  cmd/pcr0tool/commands/dumpregisters/helpers/print_registers.go
Owners: @xaionaro, @marcoguerri, @rihter007

Move PrintRegisters&PrintRegister to helpers package
  cmd/pcr0tool/commands/dumpregisters/command.go
  cmd/pcr0tool/commands/dumpregisters/helpers/print_registers.go
Owners: @xaionaro, @marcoguerri, @rihter007

Make PrintRegisters/PrintRegister exportable
  cmd/pcr0tool/commands/dumpregisters/command.go
Owners: @xaionaro, @marcoguerri, @rihter007

Add string functions to amd firmware structures
  pkg/amd/manifest/bios_directory_table.go
  pkg/amd/manifest/psp_directory_table.go
Owners: @rihter007, @xaionaro

Add some info about cookies
  pkg/amd/manifest/bios_directory_table.go
  pkg/amd/manifest/psp_directory_table.go
Owners: @rihter007, @xaionaro

[pkg/pcr] Add CachedMeasurement, extract CalculatePCR
  pkg/pcr/measurement.go
  pkg/pcr/measurement_test.go
Owners: @rihter007, @xaionaro

CODEOWNERS:

* @ChriMarMe @zaolin @walterchris @flanfly @PatrickRudolph @ArthurHeymans
cmd/pcr0tool/ @xaionaro @marcoguerri @rihter007
pkg/intel/metadata/ @xaionaro @ChriMarMe
pkg/registers @rihter007 @xaionaro
pkg/bytes @xaionaro @rihter007
pkg/pcr @rihter007 @xaionaro
pkg/pcd @xaionaro
pkg/amd @rihter007 @xaionaro
pkg/diff @xaionaro @rihter007
pkg/errors @xaionaro @rihter007
pkg/check @xaionaro
pkg/tpmdetection @rihter007 @xaionaro
pkg/tpmeventlog @xaionaro @rihter007
pkg/uefi @xaionaro @rihter007
