Repository 9elements/converged-security-suite, changes with the owners that CODEOWNERS names for each.
All owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c

CODEOWNERS:

* @ChriMarMe @zaolin @walterchris @flanfly @PatrickRudolph @ArthurHeymans
cmd/pcr0tool/ @xaionaro @marcoguerri @rihter007 @trynity @u1f35c
pkg/intel/metadata/ @xaionaro @ChriMarMe @trynity @marcoguerri @u1f35c
pkg/registers @rihter007 @xaionaro @trynity @marcoguerri @u1f35c
pkg/bytes @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
pkg/pcr @rihter007 @xaionaro @trynity @marcoguerri @u1f35c
pkg/pcd @xaionaro @trynity @marcoguerri @u1f35c
pkg/amd @rihter007 @xaionaro @trynity @marcoguerri @u1f35c
pkg/diff @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
pkg/errors @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
pkg/check @xaionaro @trynity @marcoguerri @u1f35c
pkg/tpmdetection @rihter007 @xaionaro @trynity @marcoguerri @u1f35c
pkg/tpmeventlog @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
pkg/uefi @xaionaro @rihter007 @trynity @marcoguerri @u1f35c

[uefi] Disable optimization "DisableDecompression"
  pkg/uefi/uefi.go
Owners: @xaionaro, @rihter007, @trynity, @marcoguerri, @u1f35c

[bootflow] Publish commonactions.SetFlowStruct
  pkg/bootflow/actions/commonactions/set_flow.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Post-merge fixes
  cmd/pcr0tool/commands/sum/command.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_expected_pcr0_test.go
  pkg/pcrbruteforcer/reproduce_event_log_test.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c, @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Fix pcrbruteforcer
  pkg/bootflow/bootengine/boot_process.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_expected_pcr0.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_expected_pcr0_test.go
  pkg/bootflow/types/action.go
  pkg/bootflow/types/state.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[pcr] Fix panic in pcr.ValidateManifests.Validate
  pkg/pcr/get_measurements_pcr0_cbnt0t.go
Owners: @rihter007, @xaionaro, @trynity, @marcoguerri, @u1f35c

[pcr] Fix panic in pcr.ValidateManifests.Validate
  pkg/pcr/get_measurements_pcr0_cbnt0t.go
Owners: @rihter007, @xaionaro, @trynity, @marcoguerri, @u1f35c

[pcr] Do not treat pre-CBnT manifests are sign of CBnT
  pkg/pcr/flow_detection.go
Owners: @rihter007, @xaionaro, @trynity, @marcoguerri, @u1f35c

[pcr] Do not treat pre-CBnT manifests are sign of CBnT
  pkg/pcr/flow_detection.go
  pkg/pcr/get_measurements_pcr0_cbnt0t.go
  pkg/pcr/validate_manifests.go
Owners: @rihter007, @xaionaro, @trynity, @marcoguerri, @u1f35c

Remove stale pcrbruteforcer
  pkg/pcrbruteforcer/reproduce_event_log_test.go
  pkg/pcrbruteforcer/reproduce_expected_pcr0_test.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[pkg/pcr] Improve variable names for bpm/km
  pkg/pcr/flow_detection.go
  pkg/pcr/get_measurements_pcr0_cbnt0t.go
  pkg/pcr/validate_manifests.go
Owners: @rihter007, @xaionaro, @trynity, @marcoguerri, @u1f35c

[bootflow] Do not panic if an Actor haven't defined the Code
  pkg/bootflow/bootengine/validator/validator_actors_are_protected.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Add benign corruption injector for AMD Milan
  pkg/bootflow/bootengine/validator/validator_final_coverage_is_complete.go
  pkg/bootflow/examples/validate/inject_benign_corruption.go
  pkg/bootflow/examples/validate/main.go
  pkg/bootflow/flows/ocp_pei.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow][pcrbruteforcer] Unhash a Digest
  cmd/pcr0tool/commands/sum/command.go
  go.mod
  go.sum
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/analyze_unexpected_log_entry.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/analyze_unexpected_log_entry_test.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/issues.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_event_log.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c, @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow][pcrbruteforcer] Explain signed DXE in unexpected EventLog entries
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/analyze_unexpected_log_entry.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_event_log.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow][calcpcr0] Show ACM Policy Status only if it was corrected
  pkg/bootflow/examples/calcpcr0/main.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_expected_pcr0.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_expected_pcr0_test.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Do not panic on calling Step.Actions()
  pkg/bootflow/bootengine/boot_process.go
  pkg/bootflow/bootengine/issue.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[attestation][amd] Structure of internal AMD PSB validation code
  cmd/amd-suite/cmd.go
  cmd/amd-suite/main.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[attestation][amd] Add support for extracting AMD Public Key from firmware
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[attestation][amd] Support for extracting PSP header from key database
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[attestation][amd] Add and populate key database
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[attestation][amd] Actually show key database
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[attestation][amd] Decide signature size based on key parameters
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[attestation][amd] Command to validate entries of PSP elements
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[attestation][amd] More generic way to extract keys
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[attestation][amd] Add PSP/BIOS Output
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Dump and Patch PSP entry in AMD firmware
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[attestation][amd] Parse firmware directly with NewAMDFirmware
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[attestation][amd] Implement command to validate RTM volume
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[attestation][amd] Flexible PSP Directory Level
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[attestation][amd] Make CLI args flags, not positional
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[attestation][amd] Generic support for dumping and patching both PSP and BIOS entries
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[attestation][amd] Minor adjustment to command arguments
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[amd-suite] Fix import paths
  cmd/amd-suite/cmd.go
  cmd/amd-suite/main.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[attestation][amd] Unit test for I/O functions
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[amd-suite] Use AMD manifest from fiano
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[firmware][amd]: Merge common parts to psb
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[firmware][amd]: Validate PSP-signed items in BIOS directories
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Update the code use new AMD manifest code from fiano
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[amd][suite]: Output APCB security tokens
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[amd][psb]: Strict NotFound errors
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans
