Repository 9elements/converged-security-suite, changes with the owners that CODEOWNERS names for each.
All owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c

CODEOWNERS:

* @ChriMarMe @zaolin @walterchris @flanfly @PatrickRudolph @ArthurHeymans
cmd/pcr0tool/ @xaionaro @marcoguerri @rihter007 @trynity @u1f35c
pkg/intel/metadata/ @xaionaro @ChriMarMe @trynity @marcoguerri @u1f35c
pkg/registers @rihter007 @xaionaro @trynity @marcoguerri @u1f35c
pkg/bytes @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
pkg/pcr @rihter007 @xaionaro @trynity @marcoguerri @u1f35c
pkg/pcd @xaionaro @trynity @marcoguerri @u1f35c
pkg/amd @rihter007 @xaionaro @trynity @marcoguerri @u1f35c
pkg/diff @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
pkg/errors @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
pkg/check @xaionaro @trynity @marcoguerri @u1f35c
pkg/tpmdetection @rihter007 @xaionaro @trynity @marcoguerri @u1f35c
pkg/tpmeventlog @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
pkg/uefi @xaionaro @rihter007 @trynity @marcoguerri @u1f35c

[pcr0tool] Fix typo: intend -> indent
  cmd/pcr0tool/commands/sum/command.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c

[pcr0tool] Add missing indention to `sum`.
  cmd/pcr0tool/commands/sum/command.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c

fix(pcr0tool): Do not panic if an image and a measurement are misaligned
  pkg/pcr/measurement.go
Owners: @rihter007, @xaionaro, @trynity, @marcoguerri, @u1f35c

[pcrbruteforcer] Eradicate xcontext
  go.mod
  go.sum
  pkg/pcrbruteforcer/reproduce_expected_pcr0.go
  pkg/pcrbruteforcer/reproduce_expected_pcr0_test.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[pcr0tool] Fix the default PCD Firmware Version String
  pkg/pcr/get_measurements.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro, @trynity, @marcoguerri, @u1f35c

Update deps to the latest version
  go.mod
  go.sum
  pkg/pcrbruteforcer/reproduce_expected_pcr0_test.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Change package name for code unification
  cmd/cbnt-prov/cmd.go
  pkg/provisioning/bootguard/config.go
  pkg/provisioning/bootguard/config_test.go
  pkg/provisioning/bootguard/constants.go
  pkg/provisioning/bootguard/keygen.go
  pkg/provisioning/bootguard/marshal.go
  pkg/provisioning/bootguard/structures.go
  pkg/provisioning/bootguard/test_artifacts/km.signed
  pkg/provisioning/bootguard/test_artifacts/km.unsigned
  pkg/provisioning/bootguard/test_artifacts/test_bpm
  pkg/provisioning/bootguard/test_artifacts/test_bpm.pub
  pkg/provisioning/bootguard/test_artifacts/test_km
  pkg/provisioning/bootguard/test_artifacts/test_km.pub
  pkg/provisioning/bootguard/tools.go
  pkg/provisioning/bootguard/unmarshal.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Switch to new fiano code base
  cmd/cbnt-prov/cmd.go
  cmd/cbnt-prov/main.go
  cmd/pcr0tool/main.go
  cmd/txt-prov/main.go
  cmd/txt-suite/main.go
  go.mod
  go.sum
  pkg/pcr/flow_detection.go
  pkg/pcr/get_measurements_pcr0_cbnt0t.go
  pkg/pcr/get_measurements_pcr0_legacytxtenabled.go
  pkg/pcr/measure_option.go
  pkg/pcr/measurement_config.go
  pkg/provisioning/bootguard/config.go
  pkg/provisioning/bootguard/marshal.go
  pkg/provisioning/bootguard/tools.go
  pkg/provisioning/bootguard/unmarshal.go
  testdata/firmware/scripts/generate_fake_intel_firmware.sh
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c

initial commit
  cmd/bg-prov/README.md
  cmd/bg-prov/bpm.bin
  cmd/bg-prov/bpm2.bin
  cmd/bg-prov/cmd.go
  cmd/bg-prov/km.bin
  cmd/bg-prov/km2.bin
  cmd/bg-prov/main.go
  cmd/cbnt-prov/README.md
  cmd/cbnt-prov/cmd.go
  cmd/cbnt-prov/main.go
  go.mod
  go.sum
  pkg/provisioning/acm/acm.go
  pkg/provisioning/bootguard/bootguard.go
  pkg/provisioning/bootguard/config.go
  pkg/provisioning/bootguard/config_test.go
  pkg/provisioning/bootguard/keygen.go
  pkg/provisioning/bootguard/marshal.go
  pkg/provisioning/bootguard/structures.go
  pkg/provisioning/bootguard/tools.go
  pkg/provisioning/bootguard/unmarshal.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

remove binaries
  cmd/bg-prov/bpm.bin
  cmd/bg-prov/bpm2.bin
  cmd/bg-prov/km.bin
  cmd/bg-prov/km2.bin
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat(pcr0tool): SHA256 bruteforcer for TPMEventLog
  cmd/pcr0tool/commands/sum/command.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c

test(bruteforcer): Add unit-test for bool-slice
  pkg/bruteforcer/brute_forcer_test.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat(pcrbruteforce): Customizable EventLog max distance
  pkg/pcrbruteforcer/reproduce_event_log.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

neat(pcr): More readable error message
  pkg/pcr/get_measurements_pcr0_amd.go
Owners: @rihter007, @xaionaro, @trynity, @marcoguerri, @u1f35c

feat(pcrbruteforcer): Report also Digests of unexpected entries
  pkg/pcrbruteforcer/reproduce_event_log.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat(pcr): Define microcode patch event type
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro, @trynity, @marcoguerri, @u1f35c

bugfix(pcr): Add Init measurement to AMDLocality3
  pkg/pcr/flow.go
Owners: @rihter007, @xaionaro, @trynity, @marcoguerri, @u1f35c

feat(pcrbruteforcer): Add even unsuccessful guesses of digests
  pkg/pcrbruteforcer/analyze_unexpected_log_entry.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fix ACM and command issues
  cmd/bg-prov/cmd.go
  pkg/provisioning/acm/acm.go
  pkg/provisioning/bootguard/bootguard.go
  pkg/provisioning/bootguard/tools.go
  pkg/tools/acm.go
  pkg/tools/acm_test.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fix remaining build issues, update fiano, adapt acm usage
  go.mod
  go.sum
  pkg/pcr/flow_detection.go
  pkg/pcr/get_measurements_pcr0_cbnt0t.go
  pkg/provisioning/bootguard/bootguard.go
  pkg/test/fit.go
  pkg/test/memory.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @rihter007, @xaionaro, @trynity, @marcoguerri, @u1f35c

Adapt CI scripts, READMEs and testdata script
  .circleci/config.yml
  .gitignore
  README.md
  cmd/bg-prov/README.md
  cmd/bg-prov/cmd.go
  testdata/firmware/scripts/generate_fake_intel_firmware.sh
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fix small nits
  README.md
  pkg/provisioning/bootguard/bootguard.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

More go mod updates
  go.mod
  go.sum
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add missing error condition
  pkg/tools/acm.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fix ACM GetSize issues
  pkg/provisioning/bootguard/bootguard.go
  pkg/test/fit.go
  pkg/tools/acm.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add remaining cleanup and functionality
  cmd/bg-prov/cmd.go
  cmd/txt-suite/cmd.go
  pkg/provisioning/bootguard/bootguard.go
  pkg/provisioning/bootguard/me.go
  pkg/test/acpi.go
  pkg/test/bootguard_tests.go
  pkg/test/cpu.go
  pkg/test/fit.go
  pkg/test/memory.go
  pkg/test/test.go
  pkg/test/test_preset.go
  pkg/test/test_test.go
  pkg/test/tpm.go
  pkg/test/txt_tests.go
  pkg/tools/acm.go
  pkg/tools/config.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Update testplan file
  cmd/txt-suite/TESTPLAN.md
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fix typo
  pkg/provisioning/bootguard/bootguard.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add no-lint to notImplemented function
  pkg/test/acpi.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fix minor nits
  pkg/provisioning/bootguard/bootguard.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add bg-suite tooling
  .circleci/config.yml
  cmd/bg-suite/README.md
  cmd/bg-suite/cmd.go
  cmd/bg-suite/main.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Update READMEs
  README.md
  cmd/bg-suite/README.md
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Update READMEs
  cmd/bg-suite/README.md
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fix typo
  cmd/bg-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Update testplan file
  cmd/bg-suite/TESTPLAN.md
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Update README.md
  README.md
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Update README.md
  cmd/bg-prov/README.md
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add a skeleton of redesigned "pcr" package
  go.mod
  pkg/bootflow/actions/commonactions/set_flow.go
  pkg/bootflow/actions/tpmactions/tpm_event.go
  pkg/bootflow/actions/tpmactions/tpm_extend.go
  pkg/bootflow/datasources/_autodocs.go
  pkg/bootflow/datasources/data_source.go
  pkg/bootflow/datasources/static_data.go
  pkg/bootflow/datasources/uefi_guid.go
  pkg/bootflow/flows/_autodocs.go
  pkg/bootflow/flows/ocp_dxe.go
  pkg/bootflow/steps/commonsteps/_autodocs.go
  pkg/bootflow/steps/commonsteps/set_flow.go
  pkg/bootflow/steps/tpmsteps/_autodocs.go
  pkg/bootflow/steps/tpmsteps/measure_pcd.go
  pkg/bootflow/steps/tpmsteps/measure_separator.go
  pkg/bootflow/steps/tpmsteps/measure_uefi_guid.go
  pkg/bootflow/systemartifacts/system_artifact_bios_firmware.go
  pkg/bootflow/trustchains/_autodocs.go
  pkg/bootflow/trustchains/trust_chain_tpm.go
  pkg/bootflow/types/_autodocs.go
  pkg/bootflow/types/data.go
  pkg/bootflow/types/flow.go
  pkg/bootflow/types/state.go
  pkg/bootflow/types/system_artifact.go
  pkg/bootflow/types/trust_chain.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Set PCR indexes in the flow
  pkg/bootflow/flows/ocp_dxe.go
  pkg/bootflow/steps/tpmsteps/measure_pcd.go
  pkg/bootflow/steps/tpmsteps/measure_uefi_guid.go
  pkg/bootflow/types/_autodocs.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Replace GetVerifiedDataByTrustChainType with GetDataVerifiedBy
  pkg/bootflow/bootengine/log.go
  pkg/bootflow/examples/bruteforce/main.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans
