Repository 9elements/converged-security-suite, changes with the owners that CODEOWNERS names for each.
All owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c

chore: update GitHub Actions to use specific versions and add permissions
  .github/workflows/build.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/release.yml
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat: add Dependabot configuration for GitHub Actions and Go modules
  .github/dependabot.yml
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat: add groups for Actions and Go dependencies in Dependabot configuration
  .github/dependabot.yml
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

chore: remove Go dependencies configuration from Dependabot
  .github/dependabot.yml
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add EOF blank lines
  .github/workflows/build.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/release.yml
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat: add groups for Actions and Go dependencies in Dependabot configuration
  .github/dependabot.yml
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

chore: remove Go dependencies configuration from Dependabot
  .github/dependabot.yml
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

chore: update GitHub Actions to use specific versions and add permissions
  .github/workflows/build.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/release.yml
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add EOF blank lines
  .github/workflows/build.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/release.yml
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat: add Dependabot configuration for GitHub Actions and Go modules
  .github/dependabot.yml
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

go.mod: update go-linux-lowlevel-hw
  go.mod
  go.sum
  pkg/hwapi/mock_pc.go
  pkg/provisioning/bootguard/me.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

ci: fix errcheck linter in cmd/
  cmd/core/bg-prov/cmd.go
  cmd/core/txt-prov/cmd.go
  cmd/core/txt-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

ci: fix errcheck linter in cmd/exp
  cmd/exp/pcr0tool/commands/bruteforce_acm_policy_status/command.go
  cmd/exp/pcr0tool/commands/sum/command.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

ci: fix errcheck linter in pkg/
  pkg/ostools/file_to_bytes.go
  pkg/provisioning/bootguard/bootguard.go
  pkg/provisioning/bootguard/tools.go
  pkg/registers/msr.go
  pkg/test/tpm.go
  pkg/tpm/read_pcr_from_tpm.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @rihter007, @xaionaro, @trynity, @marcoguerri, @u1f35c

ci: fix QF1008 in pkg/
  pkg/bootflow/actions/amdactions/set_psp_verified.go
  pkg/bootflow/actions/intelactions/set_pch_verified.go
  pkg/bootflow/bootengine/validator/validator_actors_are_protected.go
  pkg/bootflow/bootengine/validator/validator_final_coverage_is_complete.go
  pkg/bootflow/conditions/biosconds/intelconds/valid_bpm.go
  pkg/bootflow/datasources/volume_of.go
  pkg/bootflow/subsystems/trustchains/tpm/command.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_event_log.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_expected_pcr0.go
  pkg/bootflow/subsystems/trustchains/tpm/pools.go
  pkg/diff/analyze.go
  pkg/provisioning/bootguard/bootguard.go
  pkg/uefi/uefi.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro, @rihter007, @trynity, @marcoguerri, @u1f35c

ci: fix QF1012 in pkg/
  pkg/bootflow/bootengine/log.go
  pkg/bootflow/subsystems/trustchains/tpm/command.go
  pkg/bootflow/types/data.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

ci: fix QF1005 in pkg/test/cpu.go
  pkg/test/cpu.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

ci: fix QF1002 in pkg/tpmeventlog/replay.go
  pkg/tpmeventlog/replay.go
Owners: @xaionaro, @rihter007, @trynity, @marcoguerri, @u1f35c

ci: fix QF1003 in pkg/
  pkg/test/test_preset.go
  pkg/tools/lcp.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

ci: fix: make error logging conditional
  cmd/core/bg-prov/cmd.go
  cmd/core/txt-prov/cmd.go
  cmd/exp/pcr0tool/commands/sum/command.go
  pkg/provisioning/bootguard/bootguard.go
  pkg/provisioning/bootguard/tools.go
  pkg/registers/msr.go
  pkg/test/tpm.go
  pkg/tpm/read_pcr_from_tpm.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @rihter007, @xaionaro, @trynity, @marcoguerri, @u1f35c

feat: add ME 18/21 structures for HFSTS
  pkg/provisioning/bootguard/hfsts.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat: let ValidateMEAgainstManifests handle ME 18/21
  pkg/provisioning/bootguard/bootguard.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat: enable SaneMEBootGuardProvisioning check for ME 18/21
  pkg/provisioning/bootguard/me.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

fix: remove duplicated structs and pointer types in FirmwareStatus
  pkg/provisioning/bootguard/bootguard.go
  pkg/provisioning/bootguard/hfsts.go
  pkg/provisioning/bootguard/me.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat: add function to get me version from sysfs
  pkg/tools/me.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

docs: add CBnT 2.1 relevant mentions in README's
  README.md
  cmd/core/bg-suite/README.md
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat: cmd/core/bg-prov: use unified packages for BPM and KM
  cmd/core/bg-prov/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat: bootflow/conditions/biosconds/: use unified packages for BPM and KM
  pkg/bootflow/conditions/biosconds/intelconds/valid_bpm.go
  pkg/bootflow/conditions/biosconds/intelconds/valid_ibb.go
  pkg/bootflow/conditions/biosconds/intelconds/valid_km.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

chore: bootflow/systemartifacts: update imports
  pkg/bootflow/systemartifacts/biosimage/accessor/intelbiosimage/bpm.go
  pkg/bootflow/systemartifacts/biosimage/accessor/intelbiosimage/km.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat: add TXTBootStatus representation
  pkg/tools/txt.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat: add runtime BG/CBnT version detection
  pkg/intel/soc.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat: pkg/test/fit.go: use actual fw image size in getFITDataSize
  pkg/test/fit.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat: pkg/test/test.go: add SupportedVersion field
  pkg/test/test.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat: pkg/provisioning/bootguard/structures.go: use unified packages in VersionedData
  pkg/provisioning/bootguard/structures.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat: add CBnT 2.1 specific tests for bg-suite
  cmd/core/bg-suite/TESTPLAN.md
  pkg/provisioning/bootguard/me.go
  pkg/test/bootguard_tests.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat: pkg/bootflow/datasources/inteldata/ibb.go: adjust to unified CBnT
  pkg/bootflow/datasources/inteldata/ibb.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat: cmd/core/bg-suite: runtime CBnT test selection and test description
  cmd/core/bg-suite/cmd.go
  cmd/core/bg-suite/main.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat: pkg/provisioning/bootguard/bootguard.go: adapt for CBnT 2.1
  pkg/provisioning/bootguard/bootguard.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat: pkg/bootflow/steps/intelsteps/measure_pcr0_data.go: adapt to unified pkgs
  pkg/bootflow/steps/intelsteps/measure_pcr0_data.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat: add function to get ME version from sysfs
  pkg/tools/me.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

CODEOWNERS:

* @ChriMarMe @zaolin @walterchris @flanfly @PatrickRudolph @ArthurHeymans
cmd/pcr0tool/ @xaionaro @marcoguerri @rihter007 @trynity @u1f35c
pkg/intel/metadata/ @xaionaro @ChriMarMe @trynity @marcoguerri @u1f35c
pkg/registers @rihter007 @xaionaro @trynity @marcoguerri @u1f35c
pkg/bytes @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
pkg/pcr @rihter007 @xaionaro @trynity @marcoguerri @u1f35c
pkg/pcd @xaionaro @trynity @marcoguerri @u1f35c
pkg/amd @rihter007 @xaionaro @trynity @marcoguerri @u1f35c
pkg/diff @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
pkg/errors @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
pkg/check @xaionaro @trynity @marcoguerri @u1f35c
pkg/tpmdetection @rihter007 @xaionaro @trynity @marcoguerri @u1f35c
pkg/tpmeventlog @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
pkg/uefi @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
