Repository 9elements/converged-security-suite, changes with the owners that CODEOWNERS names for each.
All owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c

Use new fiano logger
  cmd/amd-suite/main.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[privatecore][amd-suite] add verb set-security-token
  cmd/amd-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[cmd/amd-suite] Adapt amd-suite to converged-security-suite
  cmd/amd-suite/cmd.go
  cmd/amd-suite/main.go
  cmd/amd-suite/parse_amd_firmware_file.go
  go.mod
  go.sum
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Satisfy the linter
  pkg/bootflow/bootengine/issue.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_event_log.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Add registry of Flows
  pkg/bootflow/flows/amd.go
  pkg/bootflow/flows/dxe.go
  pkg/bootflow/flows/flow.go
  pkg/bootflow/flows/intel.go
  pkg/bootflow/flows/ocp_pei.go
  pkg/bootflow/flows/pei.go
  pkg/bootflow/flows/root.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[amd-suite] Fix after rebase
  cmd/amd-suite/main.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[bootflow] Add various AMD flow names
  pkg/bootflow/flows/amd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fixes according to codereview
  go.mod
  go.sum
  pkg/bootflow/bootengine/validator/validator_actors_are_protected.go
  pkg/bootflow/bootengine/validator/validator_final_coverage_is_complete.go
  pkg/bootflow/conditions/biosconds/ocpconds/is_ocp_v0.go
  pkg/bootflow/conditions/biosconds/ocpconds/is_ocp_v1.go
  pkg/bootflow/datasources/amddata/bios_directory.go
  pkg/bootflow/datasources/amddata/bios_directory_entries.go
  pkg/bootflow/datasources/amddata/embedded_firmware.go
  pkg/bootflow/datasources/amddata/psp_directory.go
  pkg/bootflow/datasources/amddata/psp_version.go
  pkg/bootflow/datasources/amddata/registers_mp0_c2p_msg.go
  pkg/bootflow/datasources/bytes.go
  pkg/bootflow/datasources/concat.go
  pkg/bootflow/datasources/inteldata/acm_date.go
  pkg/bootflow/datasources/inteldata/fit.go
  pkg/bootflow/datasources/inteldata/ibb.go
  pkg/bootflow/datasources/mem_ranges.go
  pkg/bootflow/datasources/pcd_variable.go
  pkg/bootflow/datasources/sort_and_merge.go
  pkg/bootflow/datasources/uefi_files.go
  pkg/bootflow/datasources/uefi_guid.go
  pkg/bootflow/datasources/volume_of.go
  pkg/bootflow/examples/calcpcr0/main.go
  pkg/bootflow/flows/amd.go
  pkg/bootflow/steps/amdsteps/measure_to_tpm_each_range_separately.go
  pkg/bootflow/steps/intelsteps/measure_pcr0_data.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/analyze_unexpected_log_entry.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_event_log.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_expected_pcr0.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_expected_pcr0_test.go
  pkg/bootflow/types/action.go
  pkg/bootflow/types/data.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Use the shorter syntax of logger
  pkg/bootflow/conditions/biosconds/ocpconds/is_ocp_v0.go
  pkg/bootflow/conditions/biosconds/ocpconds/is_ocp_v1.go
  pkg/bootflow/conditions/biosconds/version_regexp.go
  pkg/bootflow/datasources/inteldata/acm_date.go
  pkg/bootflow/examples/calcpcr0/main.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_event_log.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_expected_pcr0.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_expected_pcr0_test.go
  pkg/pcr/flow_detection.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @rihter007, @xaionaro, @trynity, @marcoguerri, @u1f35c

[bootflow] Fix unit-tests
  pkg/bootflow/datasources/bytes.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_event_log_test.go
  pkg/bootflow/subsystems/trustchains/tpm/pcrbruteforcer/reproduce_expected_pcr0_test.go
  pkg/bootflow/types/data.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Make `pcr0tool validate_security` work
  cmd/pcr0tool/commands/validate_security/main.go
  pkg/bootflow/bootengine/validator/validator_actors_are_protected.go
  pkg/bootflow/datasources/inteldata/acm_date.go
  pkg/bootflow/datasources/inteldata/fit.go
  pkg/bootflow/types/data.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c, @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Make 'pcr0tool bruteforce_acm_policy_status' work
  cmd/pcr0tool/commands/bruteforce_acm_policy_status/command.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c

Sort verbs in pcr0tool
  cmd/pcr0tool/main.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c

Make `pcr0tool diff` work
  cmd/pcr0tool/commands/diff/command.go
  cmd/pcr0tool/commands/diff/format/format.go
  go.mod
  go.sum
  pkg/bootflow/types/data.go
  pkg/bootflow/types/state.go
  pkg/diff/analyze.go
  pkg/diff/analyze_test.go
  pkg/diff/diff.go
  pkg/diff/diff_test.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c, @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Update the CI tests
  .circleci/config.yml
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

[pcr0tool] Support parsing binary TXT public space from file
  cmd/pcr0tool/commands/dumpregisters/helpers/flag_registers.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c

feat(pcr0tool): Add verb `pcrread`
  cmd/pcr0tool/commands/pcrread/command.go
  cmd/pcr0tool/main.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c

Update the version of fiano
  go.mod
  go.sum
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Update the version of fiano (#366)
  go.mod
  go.sum
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

README.md: fix instruction link
  README.md
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

README.md: fix instruction link
  README.md
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Update README.md
  README.md
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat(pkg): Add strict mode and ability to run single tests
  cmd/bg-suite/cmd.go
  pkg/provisioning/bootguard/bootguard.go
  pkg/provisioning/bootguard/me.go
  pkg/test/bootguard_tests.go
  pkg/test/test_preset.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

chore: Cleanup code
  cmd/bg-suite/cmd.go
  pkg/test/test_preset.go
  pkg/tools/txt.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Update testplan file
  cmd/bg-suite/TESTPLAN.md
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat: Add BtG/TXT Register Sanity Check
  pkg/provisioning/bootguard/bootguard.go
  pkg/provisioning/bootguard/hfsts.go
  pkg/provisioning/bootguard/me.go
  pkg/test/bootguard_tests.go
  pkg/tools/txt.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

fix(cmd): bg-suite should not return an error in non-interactive mode
  cmd/bg-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat: Add BtG/TXT Register Sanity Check
  pkg/provisioning/bootguard/bootguard.go
  pkg/provisioning/bootguard/hfsts.go
  pkg/provisioning/bootguard/me.go
  pkg/test/bootguard_tests.go
  pkg/tools/txt.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

fix(cmd): bg-suite should not return an error in non-interactive mode
  cmd/bg-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

chore: Cleanup code
  cmd/bg-suite/cmd.go
  pkg/test/test_preset.go
  pkg/tools/txt.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Update testplan file
  cmd/bg-suite/TESTPLAN.md
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

feat(pkg): Add strict mode and ability to run single tests
  cmd/bg-suite/cmd.go
  pkg/provisioning/bootguard/bootguard.go
  pkg/provisioning/bootguard/me.go
  pkg/test/bootguard_tests.go
  pkg/test/test_preset.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fix linting of kong cli tags
  cmd/amd-suite/cmd.go
  cmd/bg-prov/cmd.go
  cmd/bg-suite/cmd.go
  cmd/txt-prov/cmd.go
  cmd/txt-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fix linting of kong cli tags
  cmd/amd-suite/cmd.go
  cmd/bg-prov/cmd.go
  cmd/bg-suite/cmd.go
  cmd/txt-prov/cmd.go
  cmd/txt-suite/cmd.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Update README.md
  README.md
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

pcr0tool: Minor improvements
  cmd/pcr0tool/commands/pcrread/command.go
  cmd/pcr0tool/main.go
Owners: @xaionaro, @marcoguerri, @rihter007, @trynity, @u1f35c

feat(pcr0tool): Add support of a logger
  go.mod
  go.sum
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Update go version to 1.21
  go.mod
  go.sum
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Bump circleCI go version up to 1.21 in all jobs
  .circleci/config.yml
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Update golangci-lint in github action workflow
  .github/workflows/golangci-lint.yml
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

CODEOWNERS:

* @ChriMarMe @zaolin @walterchris @flanfly @PatrickRudolph @ArthurHeymans
cmd/pcr0tool/ @xaionaro @marcoguerri @rihter007 @trynity @u1f35c
pkg/intel/metadata/ @xaionaro @ChriMarMe @trynity @marcoguerri @u1f35c
pkg/registers @rihter007 @xaionaro @trynity @marcoguerri @u1f35c
pkg/bytes @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
pkg/pcr @rihter007 @xaionaro @trynity @marcoguerri @u1f35c
pkg/pcd @xaionaro @trynity @marcoguerri @u1f35c
pkg/amd @rihter007 @xaionaro @trynity @marcoguerri @u1f35c
pkg/diff @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
pkg/errors @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
pkg/check @xaionaro @trynity @marcoguerri @u1f35c
pkg/tpmdetection @rihter007 @xaionaro @trynity @marcoguerri @u1f35c
pkg/tpmeventlog @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
pkg/uefi @xaionaro @rihter007 @trynity @marcoguerri @u1f35c
