Repository 9elements/converged-security-suite, changes with the owners that CODEOWNERS names for each.
All owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @xaionaro, @marcoguerri, @rihter007

Add MeasurementIDMP0C2PMsgRegisters measurement ID that measures AMD registers (#278)
  pkg/pcr/get_measurements_pcr0_amd.go
  pkg/pcr/get_measurements_pcr0_amd_test.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro

Remove pkg/me, because it is available in fiano/pkg/intel/me now
  pkg/me/me.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

fixup the the CI error
  .circleci/config.yml
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fix MeasurementID returned in MeasureBIOSRTMVolume
  pkg/pcr/get_measurements_pcr0_amd.go
Owners: @rihter007, @xaionaro

Add missing Close to MSR reg
  pkg/registers/msr.go
Owners: @rihter007, @xaionaro

Fix CircleCI
  .circleci/config.yml
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fix CircleCI
  .circleci/config.yml
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Add missing Close to MSR reg
  pkg/registers/msr.go
Owners: @rihter007, @xaionaro

Fix MeasurementID returned in MeasureBIOSRTMVolume
  pkg/pcr/get_measurements_pcr0_amd.go
Owners: @rihter007, @xaionaro

feat(pcr): Report about corruptions in KM, BPM and IBB
  pkg/intel/metadata/manifest/bootpolicy/manifest.go
  pkg/pcr/flow.go
  pkg/pcr/get_measurements_pcr0_cbnt0t.go
  pkg/pcr/measurement_id.go
  pkg/pcr/validate_manifests.go
Owners: @xaionaro, @ChriMarMe, @rihter007

Introduce IsCBnTFirmware and IsAMDPSPFirmware helper functions
  pkg/pcr/flow_detection.go
Owners: @rihter007, @xaionaro

bugfix(CI): Fix build-tag format for Go1.17
  pkg/intel/metadata/manifest/bootpolicy/Reserved_manifestcodegen.go
  pkg/intel/metadata/manifest/bootpolicy/bpmh_manifestcodegen.go
  pkg/intel/metadata/manifest/bootpolicy/manifest_manifestcodegen.go
  pkg/intel/metadata/manifest/bootpolicy/pcd_manifestcodegen.go
  pkg/intel/metadata/manifest/bootpolicy/pm_manifestcodegen.go
  pkg/intel/metadata/manifest/bootpolicy/se_manifestcodegen.go
  pkg/intel/metadata/manifest/bootpolicy/signature_manifestcodegen.go
  pkg/intel/metadata/manifest/bootpolicy/txt_control_flags_manifestcodegen.go
  pkg/intel/metadata/manifest/bootpolicy/txt_manifestcodegen.go
  pkg/intel/metadata/manifest/chipset_ac_module_information_manifestcodegen.go
  pkg/intel/metadata/manifest/common/manifestcodegen/cmd/manifestcodegen/template_methods.tpl.go
  pkg/intel/metadata/manifest/crypto_routines_manifestcodegen.go
  pkg/intel/metadata/manifest/hash_manifestcodegen.go
  pkg/intel/metadata/manifest/key/hash_manifestcodegen.go
  pkg/intel/metadata/manifest/key/manifest_manifestcodegen.go
  pkg/intel/metadata/manifest/key_manifestcodegen.go
  pkg/intel/metadata/manifest/key_signature_manifestcodegen.go
  pkg/intel/metadata/manifest/signature_manifestcodegen.go
  pkg/intel/metadata/manifest/structure_manifestcodegen.go
  pkg/intel/metadata/manifest/tpm_info_list_manifestcodegen.go
Owners: @xaionaro, @ChriMarMe

go fmt
  pkg/bytes/is_zero_filled_amd64.go
  pkg/bytes/is_zero_filled_other.go
  pkg/intel/metadata/manifest/bootpolicy/manifest_nocodegen.go
  pkg/intel/metadata/manifest/chipset_ac_module_information_nocodegen.go
  pkg/intel/metadata/manifest/key/manifest_nocodegen.go
  pkg/pcr/find_missing_fake_measurements_test.go
  pkg/uefi/ffs_test.go
Owners: @xaionaro, @rihter007, @ChriMarMe

optimize(pcr): Do not invoke empty logger
  go.mod
  pkg/pcr/measurement.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @rihter007, @xaionaro

Add BIOS measurements: CRTM version + DXE
  pkg/amd/manifest/apcb.go
  pkg/pcr/flow.go
Owners: @rihter007, @xaionaro

Add BIOS part measurements: CRTM version + DXE
  pkg/pcr/flow.go
Owners: @rihter007, @xaionaro

Introduce AMDFirmware structure
  pkg/amd/manifest/firmware.go
  pkg/pcr/get_measurements_pcr0.go
Owners: @rihter007, @xaionaro

Update .gitignore
  .gitignore
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Remove pkg/me, because it is available in fiano/pkg/intel/me now (#275)
  pkg/me/me.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

MeasureFunc returns an array of measurements instead of a single measurement to support repeating measurements.
  pkg/pcr/get_measurements_pcr0.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro

Add Flow.{Platform,CPU}VendorID
  go.mod
  go.sum
  pkg/pcr/flow.go
  pkg/platformid/vendor_id.go
  pkg/platformid/vendor_id_test.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans, @rihter007, @xaionaro

Remove use of cpuid.
  go.mod
  go.sum
  pkg/hwapi/mock_pc.go
  pkg/test/cpu.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Support new AMD measurements of system BIOS. Fixed legacy measurements by adding measurements of PSP version and BIOS RTM Volume.
  pkg/amd/manifest/bios_directory_table.go
  pkg/pcr/flow.go
  pkg/pcr/get_measurements_pcr0_amd.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro

Fix BIOS Directory Entry Type attributes parsing
  pkg/amd/manifest/bios_directory_table.go
  pkg/amd/manifest/bios_directory_table_test.go
Owners: @rihter007, @xaionaro

Fix Error message in TestBiosDirectoryTableParsing unit test
  pkg/amd/manifest/bios_directory_table_test.go
Owners: @rihter007, @xaionaro

speed up CPU(White|Black)listTXTSupport
  pkg/hwapi/cpu_blacklist.go
  pkg/hwapi/cpu_whitelist.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fix BIOS Directory Entry Type attributes parsing (#296)
  pkg/amd/manifest/bios_directory_table.go
  pkg/amd/manifest/bios_directory_table_test.go
Owners: @rihter007, @xaionaro

Lift hwapi to new version go mod tidy
  go.mod
  go.sum
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

make new hwapi work
  cmd/txt-prov/tools.go
  pkg/hwapi/mock_pc.go
Owners: @ChriMarMe, @zaolin, @walterchris, @flanfly, @PatrickRudolph, @ArthurHeymans

Fix AMD firmware parsing slice bounds out of range
  pkg/amd/manifest/firmware.go
Owners: @rihter007, @xaionaro

Fix AMD firmware parsing slice bounds out of range (#299)
  pkg/amd/manifest/firmware.go
Owners: @rihter007, @xaionaro

AMD manifest: return meaningful errors for structures not found
  pkg/amd/manifest/bios_directory_table.go
  pkg/amd/manifest/embedded_firmware_structure.go
  pkg/amd/manifest/psp_directory_table.go
Owners: @rihter007, @xaionaro

Fix AMD legacy measurements Find measured items in primary directory (level 2) first, switch to recovery (level 1) if the item was not found
  pkg/pcr/flow.go
  pkg/pcr/get_measurements_pcr0_amd.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro

Fix AMD legacy measurements (#302)
  pkg/pcr/flow.go
  pkg/pcr/get_measurements_pcr0_amd.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro

Add multiple measurements support for the same MeasurementID.
  pkg/pcr/get_measurements_pcr0.go
  pkg/pcr/measurement.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro

Add multiple measurements support for the same MeasurementID. (#303)
  pkg/pcr/get_measurements_pcr0.go
  pkg/pcr/measurement.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro

Add PSP Table + PSP Headers to Fake Measurements
  pkg/pcr/flow.go
  pkg/pcr/get_measurements_pcr0_amd.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro

Add PSP Entries to Fake Measurements
  pkg/pcr/flow.go
  pkg/pcr/get_measurements_pcr0_amd.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro

Adjust BIOS/PSP Entry Readings
  pkg/amd/manifest/bios_directory_table.go
  pkg/pcr/flow.go
  pkg/pcr/get_measurements_pcr0_amd.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro

Update pkg/pcr/measurement_id.go
  pkg/pcr/measurement_id.go
Owners: @rihter007, @xaionaro

CODEOWNERS:

* @ChriMarMe @zaolin @walterchris @flanfly @PatrickRudolph @ArthurHeymans
cmd/pcr0tool/ @xaionaro @marcoguerri @rihter007
pkg/intel/metadata/ @xaionaro @ChriMarMe
pkg/registers @rihter007 @xaionaro
pkg/bytes @xaionaro @rihter007
pkg/pcr @rihter007 @xaionaro
pkg/pcd @xaionaro
pkg/amd @rihter007 @xaionaro
pkg/diff @xaionaro @rihter007
pkg/errors @xaionaro @rihter007
pkg/check @xaionaro
pkg/tpmdetection @rihter007 @xaionaro
pkg/tpmeventlog @xaionaro @rihter007
pkg/uefi @xaionaro @rihter007
